<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Connect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon" />

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

  <!-- BOOTSTRAP ICON -->
  <link href="/css/bootstrap-icons.css" rel="stylesheet" />
  <!-- BOOTSTRAP CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- HEADER CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Custom styles for this template -->
  <link href="/css/inpatient2.css" rel="stylesheet" />
</head>

<body>
  <!-- /*--------------------------------------------------------------
  # header
  --------------------------------------------------------------*/ -->
  <%- include("../partials/header.ejs") %>

    <!-- /*--------------------------------------------------------------
  # light icon
  --------------------------------------------------------------*/ -->
    <%- include("../partials/lighticon.ejs") %>

      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="home" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
      </svg>

      <main class="d-flex flex-nowrap">
        <!-- /*--------------------------------------------------------------
    # Arrow Sidebar
    --------------------------------------------------------------*/ -->
        <%- include("../partials/arrow sidebar.ejs") %>

          <div style="position: relative; height: 90vh" class="w-100">
            <!-- /*--------------------------------------------------------------
      # NAVBAR
      --------------------------------------------------------------*/ -->
            <div>
              <nav class="navbar navbar-expand-lg bg-body-tertiary mx-1 mt-1 mb-5">
                <div class="container-fluid py-2 rounded-2 bg-info">
                  <div class="d-flex flex-row align-items-center">
                    <img src="/svg/ConnectLogo.svg" height="35vh" alt="" />
                  </div>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" action="/shortagesearch" method="post">
                      <input name="searchText" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                      <button class="btn btn-outline-success" type="submit">
                        Search
                      </button>
                    </form>
                  </div>
                </div>
              </nav>
            </div>

            <!-- /*--------------------------------------------------------------
      # MAIN CONTENT
      --------------------------------------------------------------*/ -->
            <div class="d-block" style="width: 95%; margin-left: auto; margin-right: auto">
              <% if (array.length === 0) { %>
                <div class="d-flex justify-content-center">
                  <div class="alert alert-success new2 p-4 w-50 mt-5">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span class="alert-body">
                      <h6 class="alert-header">ATTENTION</h6>
                      <p class="mb-0">No Data Avaliable</p>
                    </span>
                  </div>
                </div>
              <% } %>
              
                <table style="width: 99%" class="mx-auto table table-striped table-bordered">
                  <% if (array.length >= 1) { %>
                   
                
                  <thead>
                    <tr>
                      <th class="text-center" scope="col">Category Name</th>
                      <th class="text-center" scope="col">Org Number</th>
                      <th class="text-center" scope="col">On Hand Quantity</th>
                      <th class="text-center" scope="col">Stock Months</th>
                      <th class="text-center <%= user.role === "Admin" || user.role === "Pyxis"? "" : "d-none" %>" scope="col">ADD</th>
                      <th class="text-center <%= user.role === "Admin" || user.role === "Pyxis"? "" : "d-none" %>" scope="col">REMOVE</th>
                    </tr>
                  </thead>
  
  
                <% array.forEach(item => { %>
                  <tbody id="tbody">
                    <tr id="tr">
                      <style>
                        .bgyellow{
                          color: rgb(255, 0, 0);
                        }
                      </style>
                      <td class="text-center bgyellow">
                        <strong class="<%= item.tradeselect === "select"? "bgyellow" : "" %>" ><%= item.CATEGORYNAME %></strong>
                      </td>
                      <td class="text-center">
                        <%= item.OrgName %>
                      </td>
                      <td class="text-center">
                        <%= item.ONHANDQTY %>
                      </td>
                      <td class="text-center">
                        <%= item.STOCKMONTHS %>
                      </td>
                      <!-- ADD -->
                      <td class="text-center p-3 <%= user.role === "Admin" || user.role === "Pyxis"? "" : "d-none" %>">
                        <form action="/tradeselectshortage/<%= item._id %>?_method=Put" method="post">
                          <div class="d-flex align-items-center justify-content-center">
                            <button type="submit" style="border: unset;">
                              <input hidden type="text" value="select" name="tradeselect">
                              <svg style="fill: #298c43;" width="22" height="22" id="Layer_1"
                              data-name="Layer 1" viewBox="0 0 25 27">
                              <path class="cls-1"
                                d="m19.13,11.97c-.14.17-.28.35-.41.52v8.39c0,.72-.58,1.3-1.3,1.3H4.46c-.72,0-1.3-.58-1.3-1.3V7.93c0-.72.58-1.3,1.3-1.3h12.22c.49-.58.94-1.12,1.42-1.65l.41-.46.23-.26c-.42-.15-.87-.23-1.33-.23H4.46c-2.16,0-3.91,1.75-3.91,3.91v12.95c0,2.16,1.75,3.91,3.91,3.91h12.95c2.16,0,3.91-1.75,3.91-3.91v-11.56c-.68.79-1.39,1.65-2.19,2.65Z" />
                              <path class="cls-1"
                                d="m24.26,2.86c-.38-.63-1.2-.84-1.83-.47-.36.21-.69.45-1.01.7-.16.12-.31.26-.46.39-.15.13-.3.27-.44.41-.3.28-.56.58-.83.87l-.41.44-.4.45c-.53.6-1.05,1.21-1.56,1.82l-.76.93-.74.94c-.97,1.26-1.92,2.54-2.83,3.84-.46.65-.9,1.31-1.35,1.96-.16.25-.32.49-.49.74-.35-.29-.66-.61-.94-.97-.57-.72-1.02-1.6-1.39-2.55v-.02c-.26-.63-.96-.97-1.62-.76-.69.22-1.07.95-.85,1.64.18.57.39,1.15.66,1.72.26.57.58,1.13.96,1.66.38.53.82,1.03,1.31,1.47.48.44,1.01.82,1.55,1.15.65.4,1.52.22,1.95-.42l.03-.04c.43-.64.88-1.27,1.33-1.9.45-.63.9-1.26,1.36-1.88.92-1.24,1.85-2.47,2.81-3.68.96-1.2,1.94-2.39,2.96-3.53l.38-.43.39-.42c.26-.28.52-.56.77-.84.25-.28.5-.58.73-.88.24-.3.47-.6.67-.94l.03-.05c.25-.41.27-.94,0-1.37Z" />
                            </svg>
                            </button>
                            

                          </div>
                        </form>
                      </td>
                      <!-- REMOVE -->
                      <td class="text-center p-3 <%= user.role === "Admin" || user.role === "Pyxis"? "" : "d-none" %>">
                        <form action="/traderemoveshortage/<%= item._id %>?_method=Put" method="post">
                          <div class="d-flex align-items-center justify-content-center">
                          <button  style="border: unset;">
                            <input hidden type="text" value="unselect" name="tradeselect">
                            <svg style="fill: #de2b38;" width="22" height="22" id="Layer_1" data-name="Layer 1"
                            viewBox="0 0 25 27">
                            <path class="cls-1"
                              d="m22.5,8.04c-.06.04-2.52,1.97-2.52,1.97v10.03c0,.73-.59,1.32-1.32,1.32H5.57c-.73,0-1.32-.59-1.32-1.32V6.95c0-.73.59-1.32,1.32-1.32h11.85c1.03-.74,2.1-1.46,3.2-2.12-.57-.33-1.24-.51-1.95-.51H5.57c-2.18,0-3.95,1.77-3.95,3.95v13.09c0,2.18,1.77,3.95,3.95,3.95h13.09c2.18,0,3.95-1.77,3.95-3.95V7.95l-.12.09Z" />
                            <path class="cls-1"
                              d="m21.38,4.28c-1.43.87-2.81,1.8-4.14,2.79-1.33,1-2.62,2.03-3.87,3.11-.35.3-.69.61-1.04.92-.11-.13-.22-.26-.32-.39l-.48-.62-.24-.31-.22-.32-.45-.64c-.08-.11-.15-.22-.22-.33-.07-.11-.15-.22-.24-.31-.09-.1-.19-.19-.31-.27-.12-.08-.25-.16-.41-.21l-.19-.06c-.13-.04-.27-.07-.42-.08-.87-.04-1.61.63-1.65,1.5-.03.7.29,1.2.63,1.68l.51.72.26.36.28.35.56.69c.15.18.31.35.46.52-.05.05-.11.1-.16.16l-.88.87c-.29.29-.59.58-.87.88-.29.29-.57.6-.82.93-.13.16-.25.34-.36.52-.06.09-.11.18-.16.27-.05.09-.1.19-.15.3-.17.37-.18.82.02,1.21.35.68,1.18.94,1.85.59l.08-.04c.09-.04.18-.1.26-.15.08-.06.17-.11.25-.17.16-.12.32-.24.47-.37.31-.26.59-.53.87-.82.28-.29.56-.57.84-.86l.85-.85c.07-.07.14-.14.21-.21.13.11.27.23.41.34.11.09.23.19.35.28l.36.27.36.26c.12.09.25.17.37.25.12.08.25.17.37.25.13.08.26.16.39.23.13.08.26.16.39.23l.4.22c.13.07.27.14.41.21.14.07.27.14.42.2.14.06.28.13.43.18.08.03.14.06.23.09l.26.09c.54.19,1.17,0,1.51-.49.41-.59.26-1.41-.34-1.81l-.22-.15h-.02s-.02-.02-.03-.03l-.07-.04s-.1-.06-.15-.09c-.1-.06-.21-.13-.31-.19-.11-.06-.21-.13-.32-.2-.11-.07-.21-.14-.31-.21l-.31-.22c-.1-.07-.21-.15-.31-.23-.1-.08-.21-.15-.31-.23-.1-.08-.2-.16-.3-.24-.1-.08-.2-.16-.3-.24l-.29-.25-.29-.25c-.09-.09-.19-.18-.28-.27-.05-.05-.11-.1-.16-.15.32-.29.63-.59.96-.88l.89-.81.9-.79c.3-.26.6-.52.91-.78l.46-.39.23-.19.23-.19.93-.75c.31-.25.63-.49.94-.73l.47-.37c.16-.12.32-.24.48-.35l.95-.71.03-.02c.54-.4.69-1.15.34-1.74-.38-.62-1.19-.82-1.81-.44Z" />
                          </svg>
                          </button>
                            
                          </div>
                        </form>
                      </td>
                    </tr>
                  </tbody>
                <% }) %>
                <% } %>
              
                  
                  
              </table>
            </div>
          </div>
      </main>

      <!-- LINK TO jQuary -->
      <script src="/js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="/js/aos.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/glightbox.min.js"></script>
      <script src="/js/isotope.pkgd.min.js"></script>
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="/js/noframework.waypoints.js"></script>
      <script src="/js/validate.js"></script>

      <script src="../js/main.js"></script>

      <script src="/js/inpatient2.js"></script>
</body>

</html>