<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <title>PharmacyConnect</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />
  <link rel="shortcut icon" href="svg/ConnectLogo.svg" type="image/x-icon" />
  <!-- Google Fonts -->
  <!-- <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet" /> -->
  <!-- Vendor CSS Files -->
  <link href="/css/aos.css" rel="stylesheet" />
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/bootstrap-icons.css" rel="stylesheet" />
  <link href="/css/boxicons.min.css" rel="stylesheet" />
  <link href="/css/glightbox.min.css" rel="stylesheet" />
  <link href="/css/remixicon.css" rel="stylesheet" />
  <link href="/css/swiper-bundle.min.css" rel="stylesheet" />
  <style>

  .carousel-inner {
    height: 250px;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid gray;
  }
  
  .img {
    height: 250px;
    width: 250px;
  }
  
  .inputnone {
    display: none;
  }
  
  .btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
.btn8,
.btn9,
.btn10,
.btn11,
.btn12,
.btn13,
.btn14,
.btn15,
.btn16,
.btn17,
.btn18,
.btn19,
.btn20,
.btn21,
.btn22,
.btn23,
.btn24,
.btn25,
.btn26,
.btn27,
.btn28,
.btn29,
.btn30,
.btn31,
.btn32,
.btn33,
.btn34,
.btn35,
.btn36,
.btn37,
.btn38,
.btn39,
.btn40,
.btn41,
.btn42,
.btn43,
.btn44,
.btn45,
.btn46,
.btn47,
.btn48,
.btn49,
.btn50,
.btn51,
.btn52,
.btn53 {
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: black;
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  /* display: none; */
  transition: all 1s;
  opacity: 0;

}
  
  
  .carousel-control-next {
    right: -25px;
  }
  
  .carousel-control-prev {
    left: -25px;
  }
  </style>

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- header -->
  <header id="header">
    <div class="container d-flex align-items-center justify-content-around">
      <div class="d-flex align-items-center flex-column flex-md-row justify-content-around-md">
        <!-- <img width="150" height="51" src="/img/Screenshot 2024-04-24 152853.png" /> -->
        <img src="/svg/PharmacyConnectLogo2.svg" height="50rem" alt="" />
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li>
            <a class="nav-link scrollto active" href="/interface">Home</a>
          </li>
          <li><a class="nav-link scrollto" href="/STRUCTURE">About</a></li>
          <li class="<%= user.role === "Nurse"? "d-none" : "d-block" %>"><a class="nav-link scrollto" href="/todolist">ToDo List<span class="<%= user.todolist.length>= 1? "d-block" : "d-none" %> position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= user.todolist.length %>
            <span class="visually-hidden">unread messages</span>
          </span></a></li>
          <li>
            <a class="nav-link scrollto" href="#Documentry">Documentry</a>
          </li>

          <% const comment = user.watchsender.filter( item => { return item.comment !== "" ;}) %>
          <% const receive = user.watchreceiver %>
          <%   const sender = user.dicsender
          const array = []
          for (let i = 0; i < sender.length; i++) {
            const ele = sender[i].answer;
            array.push(ele)
        } 
        const array2 = array.filter( item => item !== "")
      

        const questionreceive = qa.filter( item => item.answer === "")
      
        %>

          <li class="dropdown <%= user.role === "Nurse"? "d-none" : "d-block" %>"><a href="#"><span>Watch</span> <i class="bi bi-chevron-down"></i><span class="<%= comment.length>=1?"d-block":"d-none" %> position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%= comment.length %>C
          </span>
          <span class="<%= receive.length >= 1? "d-block" : "d-none" %>  position-absolute top-0 start-200 translate-middle badge rounded-pill bg-primary">
            <%=  receive.length %>R
          </span>
        </a>
            <ul>
              <li class="<%= user.role === "Nurse"? "d-none" : "d-block" %>">
                <a href="/watch" class=" d-flex align-items-center"> 
                  <span>Sender</span><span class="<%= comment.length>=1?"d-block":"d-none" %> position-absolute top-10 start-50 translate-middle badge rounded-pill bg-danger">
                    <%= comment.length %>C
                  </span>
                  <img src="/svg/sender-02.svg" width="25px" height="25px" alt="">
                </a>
              </li>
              <li class="<%= user.role === "Nurse"? "d-none" : "d-block" %>">
                <a href="/receiver" class=" d-flex align-items-center" style="position: relative;" >
                  <span>Receiver</span><span class="<%= receive.length >= 1? "d-block" : "d-none" %> position-absolute top-10 start-50 translate-middle badge rounded-pill bg-primary">
                    <%=  receive.length %>R
                  </span>
                  <img src="/svg/receiver-01.svg" width="25px" height="25px" alt="">
                </a>
              </li>
            </ul>
          </li>

          <li class="<%= user.role === "Nurse"? "d-none" : "d-block" %>">
            <a class="nav-link scrollto" href="<%= user.role === "DIC"? "/dic" : "/dicsender" %>"><span>DIC</span><span class="<%= array2.length >= 1? "d-block" : "d-none" %> position-absolute top-0 start-50 translate-middle badge rounded-pill bg-primary">
              <%=  array2.length %>A
            </span>
            <div class="<%= user.role === "DIC"? "d-block" : "d-none" %>">
              <span class="<%= questionreceive.length >= 1? "d-block" : "d-none" %> position-absolute top-0 start-50 translate-middle badge rounded-pill bg-primary">
                <%=  questionreceive.length %>Q
              </span>
            </div>
          </a>
          </li>

          <li>
            <a class="getstarted scrollto" href="#services">Get Started</a>
          </li>
        </ul>

        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

      <div class="dropdown">
        <a href="" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="<%= user.profileimage? user.profileimage : " /img/Avatar/Untitled-0-60.png" %>" alt="" width="32"
          height="32" class="rounded-circle me-2" />
          <strong>
            <%= user.firstname %>
          </strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li>
            <a data-bs-toggle="modal" data-bs-target="#exampleModa4" class="dropdown-item" href="">Change Avatar</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li class="<%= user.role === "Nurse"? "d-none" : "d-block" %>">
            <a data-bs-toggle="modal" data-bs-target="#exampleModa2" class="dropdown-item" href="">Profile
              Image</a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>

          <li class="<%= user.role === "Admin"? 'd-block' : 'd-none' %>"><a class="dropdown-item" href="/admin">Admin</a></li>

          <li class="<%= user.role === "Admin"? 'd-block' : 'd-none' %>">
            <hr class="dropdown-divider" />
          </li>

          <li><a class="dropdown-item" href="/signout">Sign out</a></li>
        </ul>
      </div>

          <!-- Modal Change Avatar -->
      
          <div class="connectmodal modal fade" id="exampleModa4" tabindex="-1" aria-labelledby="exampleModalLabel">
            <div class="glass modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Avatar
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
  
  
                <div class="d-flex flex-column align-items-center my-2" style="height: 250px;">
                  
              
                  
                  <div id="carouselExample" class="carousel slide text-center mt-5" style="width: 150px; height: 150px">
                    <div class="carousel-inner">
              
                      <form  action="/avatar1" method="post" enctype="multipart/form-data">
                        <div class="carousel-item active" style="position: relative">
                          <input name="inputprofile" class="inputnone" id="in1" type="file"  />
                          <img src="/img/Avatar/Untitled-1-1.png" class="d-block img" alt="..." />
                          <label class="mt-3" for="in1"><button type="submit" class="btn1 btn btn-outline-primary">
                              Select
                            </button></label>
                        </div>
                    </form>
              
                    <form  action="/avatar2" method="post" enctype="multipart/form-data">
                      <div class="carousel-item">
                        <input name="inputprofile" class="inputnone" id="in2" type="file" />
                        <img src="/img/Avatar/Untitled-1-2.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in2"><button class="btn2 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar3" method="post" enctype="multipart/form-data">
                      <div  class="carousel-item">
                        <input id="in3" name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-3.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in3"><button class="btn3 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar4" method="post" enctype="multipart/form-data">
                      <div  class="carousel-item">
                        <input id="in4" name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-4.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in4"><button class="btn4 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar5" method="post" enctype="multipart/form-data">
                      <div  class="carousel-item">
                        <input id="in5" name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-5.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in5"><button class="btn5 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar6" method="post" enctype="multipart/form-data">
                      <div id="in6" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-6.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in6"><button class="btn6 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar7" method="post" enctype="multipart/form-data">
                      <div id="in7" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-7.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in7"><button class="btn7 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar8" method="post" enctype="multipart/form-data">
                      <div id="in8" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-8.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in8"><button class="btn8 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar9" method="post" enctype="multipart/form-data">
                      <div id="in9" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-9.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in9"><button class="btn9 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar10" method="post" enctype="multipart/form-data">
                      <div id="in10" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-10.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in10"><button class="btn10 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar11" method="post" enctype="multipart/form-data">
                      <div id="in11" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-11.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in11"><button class="btn11 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar12" method="post" enctype="multipart/form-data">
                      <div id="in12" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-12.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in12"><button class="btn12 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar13" method="post" enctype="multipart/form-data">
                      <div id="in13" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-13.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in13"><button class="btn13 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar14" method="post" enctype="multipart/form-data">
                      <div id="in14" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-14.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in14"><button class="btn14 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar15" method="post" enctype="multipart/form-data">
                      <div id="in15" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-15.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in15"><button class="btn15 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar16" method="post" enctype="multipart/form-data">
                      <div id="in16" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-16.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in16"><button class="btn16 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar17" method="post" enctype="multipart/form-data">
                      <div id="in17" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-17.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in17"><button class="btn17 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar18" method="post" enctype="multipart/form-data">
                      <div id="in18" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-18.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in18"><button class="btn18 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar19" method="post" enctype="multipart/form-data">
                      <div id="in19" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-19.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in19"><button class="btn19 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar20" method="post" enctype="multipart/form-data">
                      <div id="in20" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-20.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in20"><button class="btn20 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar21" method="post" enctype="multipart/form-data">
                      <div id="in21" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-21.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in21"><button class="btn21 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar22" method="post" enctype="multipart/form-data">
                      <div id="in22" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-22.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in22"><button class="btn22 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar23" method="post" enctype="multipart/form-data">
                      <div id="in23" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-23.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in23"><button class="btn23 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar24" method="post" enctype="multipart/form-data">
                      <div id="in24" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-24.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in24"><button class="btn24 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar25" method="post" enctype="multipart/form-data">
                      <div id="in25" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-25.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in25"><button class="btn25 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar26" method="post" enctype="multipart/form-data">
                      <div id="in26" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-26.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in26"><button class="btn26 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar27" method="post" enctype="multipart/form-data">
                      <div id="in27" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-27.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in27"><button class="btn27 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
                
                    <form  action="/avatar28" method="post" enctype="multipart/form-data">
                      <div id="in28" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-28.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in28"><button class="btn28 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar29" method="post" enctype="multipart/form-data">
                      <div id="in29" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-29.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in29"><button class="btn29 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar30" method="post" enctype="multipart/form-data">
                      <div id="in30" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-30.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in30"><button class="btn30 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar31" method="post" enctype="multipart/form-data">
                      <div id="in31" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-31.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in31"><button class="btn31 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar32" method="post" enctype="multipart/form-data">
                      <div id="in32" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-32.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in32"><button class="btn32 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar33" method="post" enctype="multipart/form-data">
                      <div id="in33" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-33.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in33"><button class="btn33 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar34" method="post" enctype="multipart/form-data">
                      <div id="in34" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-34.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in34"><button class="btn34 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar35" method="post" enctype="multipart/form-data">
                      <div id="in35" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-35.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in35"><button class="btn35 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar36" method="post" enctype="multipart/form-data">
                      <div id="in36" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-36.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in36"><button class="btn36 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar37" method="post" enctype="multipart/form-data">
                      <div id="in37" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-37.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in37"><button class="btn37 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar38" method="post" enctype="multipart/form-data">
                      <div id="in38" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-38.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in38"><button class="btn38 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar39" method="post" enctype="multipart/form-data">
                      <div id="in39" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-39.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in39"><button class="btn39 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar40" method="post" enctype="multipart/form-data">
                      <div id="in40" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-40.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in40"><button class="btn40 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar41" method="post" enctype="multipart/form-data">
                      <div id="in41" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-41.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in41"><button class="btn41 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar42" method="post" enctype="multipart/form-data">
                      <div id="in42" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-42.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in42"><button class="btn42 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar43" method="post" enctype="multipart/form-data">
                      <div id="in43" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-43.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in43"><button class="btn43 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar44" method="post" enctype="multipart/form-data">
                      <div id="in44" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-44.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in44"><button class="btn44 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar45" method="post" enctype="multipart/form-data">
                      <div id="in45" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-45.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in45"><button class="btn45 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar46" method="post" enctype="multipart/form-data">
                      <div id="in46" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-46.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in46"><button class="btn46 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar47" method="post" enctype="multipart/form-data">
                      <div id="in47" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-47.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in47"><button class="btn47 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar48" method="post" enctype="multipart/form-data">
                      <div id="in48" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-48.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in48"><button class="btn48 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar49" method="post" enctype="multipart/form-data">
                      <div id="in49" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-49.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in49"><button class="btn49 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar50" method="post" enctype="multipart/form-data">
                      <div id="in50" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-50.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in50"><button class="btn50 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar51" method="post" enctype="multipart/form-data">
                      <div id="in51" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-51.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in51"><button class="btn51 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar52" method="post" enctype="multipart/form-data">
                      <div id="in52" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-52.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in52"><button class="btn52 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    <form  action="/avatar53" method="post" enctype="multipart/form-data">
                      <div id="in53" class="carousel-item">
                        <input name="inputprofile" class="inputnone" type="file" />
                        <img src="/img/Avatar/Untitled-1-53.png" class="d-block img" alt="..." />
                        <label class="mt-3" type="submit" for="in53"><button class="btn53 btn btn-outline-primary">
                            Select
                          </button></label>
                      </div>
                    </form>
              
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
              
                </div>
                
              </div>
            </div>
          </div>

          
      <!-- Modal -->
      <form action="/updateavatar" method="post" enctype="multipart/form-data">
        <div class="connectmodal modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="glass modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">
                  Attach File
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="d-flex modal-body align-items-center justify-content-around ">
                <label class="btn btn-primary" for="headerattach">Choose File...</label>
                <input id="headerattach" type="file" name="updateprofile" id="" style="display: none" />
                <img style="border-radius: 50%;" id="headerimgsrc" src="<%= user.profileimage %>" width="150px" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button>
                <button type="submit" class="btn btn-primary">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script>
      const headerattach = document.querySelector("#headerattach");
      const headerimgsrc = document.querySelector("#headerimgsrc");

      headerattach.addEventListener("change", (eo) => {
        const choosedfile = eo.target.files[0];
        const choosefileurl = URL.createObjectURL(choosedfile);
        console.log(choosefileurl);
        headerimgsrc.src = choosefileurl;
      });
    </script>
  </header>

  <!-- light icon -->
  <%- include("partials/lighticon.ejs") %>

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
            data-aos="fade-up" data-aos-delay="200">
            
              <h1>Build a Connection For Better Patient Care</h1>
            
            <h2>Patient Care is Our Priority</h2>
            <div class="d-flex justify-content-center justify-content-lg-start">
              <a href="#services" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
            <img src="/img/Pharmacy.png" class="img-fluid animated" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Services Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Services</h2>
            <p>
              PharmacyConnect is a software-based platform designed to serve pharmacists. It aims to enhance communication among healthcare professionals, ensuring better coordination and patient care. By providing tools for efficient information sharing and collaboration, PharmacyConnect helps pharmacists make informed decisions, streamline medication management, and ultimately improve patient outcomes.
            </p>
          </div>

          <div class="row">
            <!-- ONCOTIPS -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box">
                <a href="/oncotips">
                <div class="icon">
                  <img src="/svg/OncoTips.svg" height="140px" alt="" />
                </div>
                <h4><a href="/oncotips">OncoTips</a></h4>
              </a>
                  <p>
                    Medication Monograph, Presentation, Infograph, Policy & Procedures, Manuals, Workflow and Scientific Papers
                  </p>
              </div>
            </div>

            <!-- CONNECT -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
              data-aos-delay="200">
              <div class="icon-box">
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <div class="icon">
                  <img src="/svg/ConnectLogo.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">Connect</a>
                </h4>
              </a>
                <p>
                  View Inpatient, Outpatient, Dispense, Iv-Prep, Pyxis, Lab And Lab Toxixity
                </p>
              </div>
            </div>
            <!-- CONNECT MODAL -->
            <div class="connectmodal modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="glass modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      ALERT
                    </h1>
                  </div>
                  <div class="modal-body">PLEASE SELECT YOUR PLATEFORM</div>

                  <div class="d-flex justify-content-around mb-2">
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "Nurse"? "d-none" : "d-block" %>">
                      <img src="/svg/inpatienticon-02.svg" width="80%" alt="">
                      <a class="fs-5" href="/inpatient3" style="font-family: 'Jost', sans-serif;">InPatient</a>
                    </div>
                    
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "Nurse"? "d-none" : "d-block" %>">
                      <img src="/svg/outpatienticon-03.svg" width="80%" alt="">
                      <a class="fs-5" href="/outpatient3" style="font-family: 'Jost', sans-serif;">OutPatient</a>
                    </div>
                    
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "Nurse"? "d-none" : "d-block" %>">
                      <img src="/svg/ivprepicon-05.svg" width="80%" alt="">
                      <a class="fs-5" href="/prepin" style="font-family: 'Jost', sans-serif;">IV Prep</a>
                    </div>
                    
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "Nurse"? "d-none" : "d-block" %>">
                      <img src="/svg/dispenceicon-04.svg" width="80%" alt="">
                      <a class="fs-5" href="/dispense3" style="font-family: 'Jost', sans-serif;">Dispense</a>
                    </div>
                    
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "Nurse"? "d-none" : "d-block" %>">
                      <img src="/svg/lab-01.svg" width="80%" alt="">
                      <a class="fs-5" href="/lab" style="font-family: 'Jost', sans-serif;">Lab</a>
                    </div>

                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "Nurse"? "d-block" : "d-none" %>">
                      <img src="/svg/inpatienticon-02.svg" width="80%" alt="">
                      <a class="fs-5" href="/nurse" style="font-family: 'Jost', sans-serif;">Nurse</a>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- WORKFLOW -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="300">
              <div class="icon-box">
                <a href="/index2">
                <div class="icon">
                  <img src="/svg/WorkFlow.svg" height="140px" alt="" />
                </div>
                <h4><a href="/index2">WorkFlow</a></h4>
              </a>
                <p>
                  Orintation About Pharmacy Departament And Visual Presentation For WorkFlow
                </p>
              </div>
            </div>

            <!-- DASHBOARD -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="">
                <div class="icon">
                  <img src="/svg/statistics-01-01-01.svg" height="140px" alt="" />
                </div>
                <h4><a href="">DashBoard</a></h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- STORE -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalTwo">
                <div class="icon">
                  <img src="/svg/store-01.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalTwo">Store</a>
                </h4>
              </a>
                <p>
                  Pyxis-76, Main Pharmacy Store-528, Rowa-79, PerPatient and Medication Shortage
                </p>
              </div>
            </div>
            <!-- STORE Modal -->
            <div class="connectmodal modal fade" id="exampleModalTwo" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="glass modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Store Selection
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Please Select
                    <ul>
                      <li><a href="/pyxis">Pyxis Store (76)</a></li>
                      <li><a href="">Main Pharmacy Store (528)</a></li>
                      <li><a href="/rowa">Rowa Store (79)</a></li>
                      <li><a href="/perpatient">PerPatient Medication</a></li>
                      <li><a href="/shortage">Shortage</a></li>
                    </ul>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- WATCH -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalthree">
                <div class="icon">
                  <img src="/svg/watch.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalthree">Watch</a>
                </h4>
              </a>
                <p>
                  Send Message To Night Shift Pharmacist And Receive Message From Round Pharmacist
                </p>
              </div>
            </div>
            <!-- WATCH Modal -->
            <div class="connectmodal modal fade" id="exampleModalthree" data-bs-backdrop="static"
              data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="glass modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Watch Select
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Please Select



                    <div class="d-flex justify-content-around">
                      <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="/svg/sender-02.svg" width="80%" alt="">
                        <a class="fs-5" href="/watch" target="_blank">Sender</a></li>
                      </div>
                      <div class="d-flex flex-column justify-content-center align-items-center">
                        <img src="/svg/receiver-01.svg" width="80%" alt="">
                        <a class="fs-5" href="/receiver" target="_blank">Receiver</a>
                      </div>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!-- TODOLIST -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="/todolist" target="_blank">
                <div class="icon">
                  <img src="/svg/todolist.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="/todolist" target="_blank">ToDo List</a>
                </h4>
              </a>
                <p>
                  Write Round Comment That You Need To Do Later
                </p>
              </div>
            </div>

            <!-- DIC -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="" data-bs-toggle="modal" data-bs-target="#exampleModalfour">
                <div class="icon">
                  <img src="/img/dic-11.png" height="140px" alt="" />
                </div>
                <h4>
                  <a href=""  data-bs-toggle="modal" data-bs-target="#exampleModalfour">DIC</a>
                </h4>
              </a>
                <p>
                  Send Question To Drug Information Center And Have Your Answer Or Search Question Bank
                </p>
              </div>
            </div>
            <!-- DIC Modal -->
            <div class="connectmodal modal fade" id="exampleModalfour" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="glass modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    DIC Select
                  </h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Please Select
                  <div class="d-flex justify-content-around">
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "DIC"? "d-none" : "d-block" %>">
                      <img src="/svg/sender2-11.svg" width="80%" alt="">
                      <a class="fs-5" href="/dicsender" target="_blank">Sender</a></li>
                    </div>
                    <div class="d-flex flex-column justify-content-center align-items-center <%= user.role === "DIC" || user.role === "Admin"? "d-block" : "d-none" %>">
                      <img src="/svg/receiver2-12.svg" width="80%" alt="">
                      <a class="fs-5" href="/dic" target="_blank">Receiver</a>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                    Close
                  </button>
                </div>
              </div>
            </div>
            </div>

            <!-- EXAM -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="/exam">
                <div class="icon">
                  <img src="/img/exam-01.png" height="140px" alt="" />
                </div>
                <h4>
                  <a href="/exam">Exam</a>
                </h4>
              </a>
                <p>
                  Your Exam Is Here Don't Be Affraid You Are Good
                </p>
              </div>
            </div>
    
            <!-- PYXIS TRADE -->
              <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="/pyxismed">
                <div class="icon">
                  <img src="/svg/pyxismed-14.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="/pyxismed">Pyxis Trade</a>
                </h4>
              </a>
                <p>
                  If You Have The Generic Name Here You Can Search For Trade Name In Pyxis Store
                </p>
              </div>
            </div>

            <!-- EBS -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="https://ebs.hospital57357.com/OA_HTML/AppsLocalLogin.jsp" target="_blank">
                <div class="icon">
                  <img src="/img/ebs-12.png" height="140px" alt="" />
                </div>
                <h4>
                  <a href="https://ebs.hospital57357.com/OA_HTML/AppsLocalLogin.jsp" target="_blank">EBS</a>
                </h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- CERNER -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="https://misk.hospital57357.com/Citrix/XenApp/auth/login.aspx" target="_blank">
                <div class="icon">
                  <img src="/img/logo-cerner-400x495.jpg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="https://misk.hospital57357.com/Citrix/XenApp/auth/login.aspx" target="_blank">Cerner</a>
                </h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- QMS -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="https://phadispca.hospital57357.com/" target="_blank">
                <div class="icon">
                  <img src="/svg/qms-01.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="https://phadispca.hospital57357.com/" target="_blank">QMS</a>
                </h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- PYXIS HQ -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="https://hq-pyxisappsrv.hospital57357.com" target="_blank">
                <div class="icon">
                  <img src="/img/Pyxis.jpg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="https://hq-pyxisappsrv.hospital57357.com" target="_blank">Pyxis HQ</a>
                </h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- PROTOCOLS -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="https://research.57357.org/" target="_blank">
                <div class="icon">
                  <img src="/svg/protocols-19.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="https://research.57357.org/" target="_blank">Protocols</a>
                </h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- LEXICOMP -->
            <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3 <%= user.role === "Nurse"? "d-none" : "d-block" %>" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <a href="http://online.lexi.com/" target="_blank">
                <div class="icon">
                  <img src="/img/lexicomp-20.png" height="140px" alt="" />
                </div>
                <h4>
                  <a href="http://online.lexi.com/" target="_blank">Lexi-Comp</a>
                </h4>
              </a>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div>

            <!-- <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-3" data-aos="zoom-in"
              data-aos-delay="100">
              <div class="icon-box">
                <div class="icon">
                  <img src="/svg/chat.svg" height="140px" alt="" />
                </div>
                <h4>
                  <a href="/chat" target="_blank">Chat</a>
                </h4>
                <p>
                  Voluptatum deleniti atque corrupti quos dolores et quas
                  molestias excepturi
                </p>
              </div>
            </div> -->

          
          

          

            

          


          </div>
        </div>
      </section>

      <!-- ======= Documentry Section ======= -->
      <section id="Documentry" class="section-bg">
        <div class="container documentry" data-aos="fade-up">
          <div class="section-title">
            <h2>Documentry</h2>
            <p>
              Magnam dolores commodi suscipit. Necessitatibus eius consequatur
              ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam
              quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea.
              Quia fugiat sit in iste officiis commodi quidem hic quas.
            </p>
          </div>


          <div class="row g-2">
            <div class="card col-xl-3 col-md-6 card1 cardheight" data-aos="zoom-in" data-aos-delay="100">
              <div class="card-body">
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <img src="/img/dr-sherif.jpg" alt="" height="100px" style="border-radius: 50%;">
                  </div>
                  <div class="ms-3">
                    <h5 class="card-title">Dr Sherif Abolnaga</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the </p>
                  </div>
                </div>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <div class="videobtn1 d-inline-block">
                  <svg xmlns=" " width="25" height="25" fill="#47b2e4"
                    class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z" />
                  </svg>
                </div>
              </div>
              <!-- <video class="card-img-top mb-2 dnone video1" controls>
                <source src="/Video/eee.mp4" type="video/mp4">
              </video> -->
              <!-- <object class="card-img-top mb-2 dnone video1" data="/Video/eee.mp4" type=""></object> -->
            </div>
            <div class="card col-xl-3 col-md-6 card2 cardheight" data-aos="zoom-in" data-aos-delay="300">
              <div class="card-body">

                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <div class="videobtn2 d-inline-block">
                  <svg xmlns="" width="25" height="25" fill="#47b2e4"
                    class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z" />
                  </svg>
                </div>
              </div>
              <!-- <video class="card-img-top mb-2 dnone video2" controls>
                <source src="/Video/eee.mp4" type="video/mp4">
              </video> -->
            </div>
            <div class="card col-xl-3 col-md-6 card3 cardheight" data-aos="zoom-in" data-aos-delay="400">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <div class="videobtn3 d-inline-block">
                  <svg xmlns=" " width="25" height="25" fill="#47b2e4"
                    class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z" />
                  </svg>
                </div>
              </div>
              <!-- <video class="card-img-top mb-2 dnone video3" controls>
                <source src="/Video/eee.mp4" type="video/mp4">
              </video> -->

            </div>
            <div class="card col-xl-3 col-md-6 card4 cardheight" data-aos="zoom-in" data-aos-delay="500">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                  card's
                  content.</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                <div class="videobtn4 d-inline-block">
                  <svg xmlns=" " width="25" height="25" fill="#47b2e4"
                    class="bi bi-camera-video" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1z" />
                  </svg>
                </div>
              </div>
              <!-- <video class="card-img-top mb-2 dnone video4" controls>
                <source src="/Video/eee.mp4" type="video/mp4">
              </video> -->

            </div>
          </div>

          <!-- <div class="row">
            <div class="col-lg-6" data-aos="zoom-in" data-aos-delay="100">
              <div class="member d-flex align-items-start">
                <div class="pic">
                  <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="" />
                </div>
                <div class="member-info">
                  <h4>Walter White</h4>
                  <span>Chief Executive Officer</span>
                  <p>
                    Explicabo voluptatem mollitia et repellat qui dolorum quasi
                  </p>
                  <div class="social">
                    <a href=""><i class="ri-twitter-fill"></i></a>
                    <a href=""><i class="ri-facebook-fill"></i></a>
                    <a href=""><i class="ri-instagram-fill"></i></a>
                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="200">
              <div class="member d-flex flex-column align-items-center justify-content-center">

                <div>
                  <object data="" type=""></object>
                </div>
                <p>
                  Dolorum tempora officiis odit laborum officiis et et accusamus
                </p>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="300">
              <div class="member d-flex flex-column align-items-center justify-content-center">
                <div>
                  <object data="" type=""></object>
                </div>
                <p>
                  Dolorum tempora officiis odit laborum officiis et et accusamus
                </p>
              </div>
            </div>

            <div class="col-lg-6 mt-4" data-aos="zoom-in" data-aos-delay="400">
              <div class="member d-flex flex-column align-items-center justify-content-center">
                <div>
                  <object data="" type=""></object>
                </div>
                <p>
                  Dolorum tempora officiis odit laborum officiis et et accusamus
                </p>
              </div>
            </div>
          </div> -->
        </div>
      </section>
      <!-- End Team Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- <footer id="footer">
        <div class="footer-top">
          <div class="container">
            <div class="row">

              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>PharmacyConnect</h3>
                <p>
                   <br>
                  <br>
                   <br><br>
                  <strong>Phone:</strong> <br>
                  <strong>Email:</strong> <br>
                </p>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#"></a></li>
                </ul>
              </div>

              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Social Networks</h4>
                <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="container footer-bottom clearfix">
          <div class="copyright">
            &copy; Copyright <strong><span>PharmacyConnect</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">Hussein.Helal</a>
          </div>
        </div>
      </footer> -->
  
    <!-- End Footer -->

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="/js/aos.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/isotope.pkgd.min.js"></script>
    <script src="/js/swiper-bundle.min.js"></script>
    <script src="/js/noframework.waypoints.js"></script>
    <script src="/js/validate.js"></script>

    <!-- jQuary -->
    <script src="/js/jquery-3.7.1.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/js/main.js"></script>

    <!-- MY SCRIPT -->
    <script src="/js/interface.js"></script>

  <!-- AVATAR -->
  <script>
    const btn1 = document.querySelector(".btn1")
const btn2 = document.querySelector(".btn2")
const btn3 = document.querySelector(".btn3")
const btn4 = document.querySelector(".btn4")
const btn5 = document.querySelector(".btn5")
const btn6 = document.querySelector(".btn6")
const btn7 = document.querySelector(".btn7")
const btn8 = document.querySelector(".btn8")
const btn9 = document.querySelector(".btn9")
const btn10 = document.querySelector(".btn10")
const btn11 = document.querySelector(".btn11")
const btn12 = document.querySelector(".btn12")
const btn13 = document.querySelector(".btn13")
const btn14 = document.querySelector(".btn14")
const btn15 = document.querySelector(".btn15")
const btn16 = document.querySelector(".btn16")
const btn17 = document.querySelector(".btn17")
const btn18 = document.querySelector(".btn18")
const btn19 = document.querySelector(".btn19")
const btn20 = document.querySelector(".btn20")
const btn21 = document.querySelector(".btn21")
const btn22 = document.querySelector(".btn22")
const btn23 = document.querySelector(".btn23")
const btn24 = document.querySelector(".btn24")
const btn25 = document.querySelector(".btn25")
const btn26 = document.querySelector(".btn26")
const btn27 = document.querySelector(".btn27")
const btn28 = document.querySelector(".btn28")
const btn29 = document.querySelector(".btn29")
const btn30 = document.querySelector(".btn30")
const btn31 = document.querySelector(".btn31")
const btn32 = document.querySelector(".btn32")
const btn33 = document.querySelector(".btn33")
const btn34 = document.querySelector(".btn34")
const btn35 = document.querySelector(".btn35")
const btn36 = document.querySelector(".btn36")
const btn37 = document.querySelector(".btn37")
const btn38 = document.querySelector(".btn38")
const btn39 = document.querySelector(".btn39")
const btn40 = document.querySelector(".btn40")
const btn41 = document.querySelector(".btn41")
const btn42 = document.querySelector(".btn42")
const btn43 = document.querySelector(".btn43")
const btn44 = document.querySelector(".btn44")
const btn45 = document.querySelector(".btn45")
const btn46 = document.querySelector(".btn46")
const btn47 = document.querySelector(".btn47")
const btn48 = document.querySelector(".btn48")
const btn49 = document.querySelector(".btn49")
const btn50 = document.querySelector(".btn50")
const btn51 = document.querySelector(".btn51")
const btn52 = document.querySelector(".btn52")
const btn53 = document.querySelector(".btn53")
const carouselExample = document.getElementById("carouselExample")


carouselExample.addEventListener('mouseenter', () => {

btn1.style.opacity = 1
btn2.style.opacity = 1
btn3.style.opacity = 1
btn4.style.opacity = 1
btn5.style.opacity = 1
btn6.style.opacity = 1
btn7.style.opacity = 1
btn8.style.opacity = 1
btn9.style.opacity = 1
btn10.style.opacity = 1
btn11.style.opacity = 1
btn12.style.opacity = 1
btn13.style.opacity = 1
btn14.style.opacity = 1
btn15.style.opacity = 1
btn16.style.opacity = 1
btn17.style.opacity = 1
btn18.style.opacity = 1
btn19.style.opacity = 1
btn20.style.opacity = 1
btn21.style.opacity = 1
btn22.style.opacity = 1
btn23.style.opacity = 1
btn24.style.opacity = 1
btn25.style.opacity = 1
btn26.style.opacity = 1
btn27.style.opacity = 1
btn28.style.opacity = 1
btn29.style.opacity = 1
btn30.style.opacity = 1
btn31.style.opacity = 1
btn32.style.opacity = 1
btn33.style.opacity = 1
btn34.style.opacity = 1
btn35.style.opacity = 1
btn36.style.opacity = 1
btn37.style.opacity = 1
btn38.style.opacity = 1
btn39.style.opacity = 1
btn40.style.opacity = 1
btn41.style.opacity = 1
btn42.style.opacity = 1
btn43.style.opacity = 1
btn44.style.opacity = 1
btn45.style.opacity = 1
btn46.style.opacity = 1
btn47.style.opacity = 1
btn48.style.opacity = 1
btn49.style.opacity = 1
btn50.style.opacity = 1
btn51.style.opacity = 1
btn52.style.opacity = 1
btn53.style.opacity = 1
});
carouselExample.addEventListener('mouseleave', () => {
btn3.style.opacity = 0
btn2.style.opacity = 0
btn1.style.opacity = 0
btn4.style.opacity = 0
btn5.style.opacity = 0
btn6.style.opacity = 0
btn7.style.opacity = 0
btn8.style.opacity = 0
btn9.style.opacity = 0
btn10.style.opacity = 0
btn11.style.opacity = 0
btn12.style.opacity = 0
btn13.style.opacity = 0
btn14.style.opacity = 0
btn15.style.opacity = 0
btn16.style.opacity = 0
btn17.style.opacity = 0
btn18.style.opacity = 0
btn19.style.opacity = 0
btn20.style.opacity = 0
btn21.style.opacity = 0
btn22.style.opacity = 0
btn23.style.opacity = 0
btn24.style.opacity = 0
btn25.style.opacity = 0
btn26.style.opacity = 0
btn27.style.opacity = 0
btn28.style.opacity = 0
btn29.style.opacity = 0
btn30.style.opacity = 0
btn31.style.opacity = 0
btn32.style.opacity = 0
btn33.style.opacity = 0
btn34.style.opacity = 0
btn35.style.opacity = 0
btn36.style.opacity = 0
btn37.style.opacity = 0
btn38.style.opacity = 0
btn39.style.opacity = 0
btn40.style.opacity = 0
btn41.style.opacity = 0
btn42.style.opacity = 0
btn43.style.opacity = 0
btn44.style.opacity = 0
btn45.style.opacity = 0
btn46.style.opacity = 0
btn47.style.opacity = 0
btn48.style.opacity = 0
btn49.style.opacity = 0
btn50.style.opacity = 0
btn51.style.opacity = 0
btn52.style.opacity = 0
btn53.style.opacity = 0
});
  </script>

</body>

</html>