<!doctype html>
<html lang="en">

<head>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.112.5">
  <title>PharmacyConnect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon">

  <!-- GOOGLE FONT -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@400;500&display=swap"
    rel="stylesheet">


  <link href="../css/bootstrap-icons.css" rel="stylesheet" />


  <!-- lINK TO BOOTSTRAP CSS -->
  <link href="../css/bootstrap.min.css" rel="stylesheet">

  <!-- HEADER CSS -->
  <link rel="stylesheet" href="../css/style.css">
  <!-- Custom styles for this template -->
  <link href="../css/oncotips/sidebars.css" rel="stylesheet">




</head>

<body>


  <!-- /*--------------------------------------------------------------
# BACK TO TOP
--------------------------------------------------------------*/ -->
  <div class="opacity" id="uparrow">
    <svg id="svgarrow" xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
      class="bi bi-arrow-up-short" viewBox="0 0 16 16">
      <path
        d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
    </svg>
  </div>

  <!-- /*--------------------------------------------------------------
# header
--------------------------------------------------------------*/ -->
  <%- include("partials/header.ejs") %>

    <!-- /*--------------------------------------------------------------
# light icon
--------------------------------------------------------------*/ -->
    <%- include("partials/lighticon.ejs") %>

      <!-- /*--------------------------------------------------------------
# body and sidebar
--------------------------------------------------------------*/ -->

      <main id="main" class="d-flex flex-nowrap" style="height: 89vh;">


        <!-- ARROW SIDEBAR -->
        <div id="arrowmovediv">
          <svg id="arrowmove1" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8" />
          </svg>
          <svg class="dnone" id="arrowmove2" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8" />
          </svg>
        </div>

        <!-- SIDEBAR -->
        <div id="sidelist" class=" flex-shrink-0 p-3">

          <div class="d-flex flex-column text-center position-relative">
            <img id="oncotips" src="../svg/OncoTips.svg" alt="">
          </div>

          <li class=" border-top my-3 notlist" style="list-style: none;"></li>
          <ul class="list-unstyled ps-0 mainul">

            <!-- PRESENTATION -->
            <li class="mb-2">
              <div class="d-inline-flex divsvgpres">
                <svg class="Layer" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 2 25 27"
                  data-bs-toggle="collapse" data-bs-target="#presentationcollapse" aria-expanded="false">
                  <path
                    d="m18.81,9.58c.63,0,1.2-.96,1.2-1.82,0-.95-.57-1.63-1.2-1.63s-1.14.68-1.14,1.63c0,.86.5,1.82,1.14,1.82h0Zm2.27,1.15v-.19s-.08,0-.08-.09l-.07-.1h-.07s0-.09-.07-.09c0,0-.92-.48-1.77-.48l-.15.29h0l.28,3.25-.35.86-.36-.86.29-3.25h0l-.07-.29c-.85,0-1.77.48-1.84.48s-.07.09-.07.09h-.07c0,.1-.08.1-.08.1,0,.09-.07.09-.07.09v.19h0l-.43,4.6c0,.29.21.57.43.67h.07c.21,0,.43-.29.43-.57l.36-4.12h.14v4.21l-.36,6.22c-.07.38.21.76.49.76h.08c.28,0,.5-.29.5-.67l.35-5.64c.07.09.14.09.21.09.07,0,.14,0,.21-.09l.35,5.64c0,.38.28.67.56.67h0c.36,0,.57-.38.57-.76l-.42-6.22v-4.21h.14l.36,4.12c0,.28.21.57.42.57h.08c.28-.1.42-.38.42-.67l-.35-4.6h-.07Zm-12.05,11.68h2.34v-9h-2.34v9Zm4.04,0h2.26v-11.87h-2.26v11.87Zm-7.94,0h2.34v-6.61h-2.34v6.61Zm2.26-11.49c.28-.28.71-.28.99,0l1.21,1.63c.15.2.35.29.56.29.29,0,.5-.09.64-.29l3.68-4.97.57.76c.15.19.28.19.36.1.14,0,.21-.2.21-.39v-2.77c0-.19,0-.38-.14-.57-.07-.1-.21-.2-.36-.2h-2.13c-.14,0-.28.1-.28.29-.07.19-.07.29.07.48l.49.67-2.62,3.44c-.13.19-.28.29-.5.29-.14,0-.35-.1-.42-.29l-1.36-1.73c-.28-.38-.71-.38-.99,0l-3.69,5.08c-.14.19-.21.38-.21.66s.07.48.21.67l.21.29c.22.38.71.38.92,0l2.55-3.45Z" />
                </svg>

                <a id="btn1"
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btnheadfont p-0 "
                  data-bs-toggle="collapse" data-bs-target="#presentationcollapse" aria-expanded="false">
                  Presentation
                </a>

              </div>
              <div class="collapse " id="presentationcollapse">
                <ul id="ul" class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a class="d-inline-flex text-decoration-none rounded btnsubheadfont Asthma">Asthma BPS
                      Pharmacotherapy</a></li>
                  <li><a href="#"
                      class="d-inline-flex text-decoration-none rounded btnsubheadfont Dinutuximab ">Dinutuximab</a>
                  </li>
                  <li><a href="#"
                      class="d-inline-flex text-decoration-none rounded btnsubheadfont adrenocortical">Adrenocortical</a>
                  </li>
                  <li><a href="#" class="d-inline-flex text-decoration-none rounded btnsubheadfont Targeted">Targeted
                      Therapy</a></li>
                  <li><a href="#"
                      class="d-inline-flex text-decoration-none rounded btnsubheadfont Vasopressors">Vasopressors &
                      INOTROPES</a></li>
                  <li><a href="#" class="d-inline-flex text-decoration-none rounded btnsubheadfont HL">Pediatric Hodgkin
                      Lymphoma & Euronet Protocol</a></li>
                  <li><a href="#" class="d-inline-flex text-decoration-none rounded btnsubheadfont SHOCK">SHOCK</a></li>
                  <li><a href="#" class="d-inline-flex text-decoration-none rounded btnsubheadfont Fluid">Fluid &
                      Electrolytes</a></li>
                  <li><a href="#" class="d-inline-flex text-decoration-none rounded btnsubheadfont COPD">COPD In BPS
                      Pharmacotherapy</a></li>
                  <li><a href="#" class="d-inline-flex text-decoration-none rounded btnsubheadfont Tyrosine">Tyrosine
                      Kinase Inhibitor</a></li>
                </ul>
              </div>
            </li>
            <!-- INFOGRAPH -->
            <li class="mb-2 ">
              <div class="d-inline-flex divsvgpres">
                <svg class="Layer" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 2 25 27"
                  data-bs-toggle="collapse" data-bs-target="#infographcollapse" aria-expanded="false">
                  <path
                    d="m19.2,19.45l-5.79-5.81V4.57c1.97.15,3.96,1.06,5.44,2.56,3.39,3.4,3.54,8.78.35,12.33h0Zm-6.87-14.95h0c-2.25.07-4.45.92-6.22,2.62-1.7,1.7-2.55,3.97-2.62,6.23h8.84V4.5h0Zm-6.22,15.38h0c3.39,3.4,8.85,3.47,12.31.36l-5.73-5.81H3.57c.21,1.98,1.06,3.89,2.55,5.45h0Z" />
                </svg>

                <a id="btn2"
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btnheadfont p-0"
                  data-bs-toggle="collapse" data-bs-target="#infographcollapse" aria-expanded="false">
                  Infograph
                </a>

              </div>
              <div class="collapse" id="infographcollapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a class="d-inline-flex text-decoration-none rounded btnsubheadfont pediatricancer">Pediatric
                      Cancer</a></li>
                  <li><a href="#"
                      class=" d-inline-flex text-decoration-none rounded btnsubheadfont DinuTuximab">Dinutuximab</a>
                  </li>
                </ul>
              </div>

            </li>
            <!-- MEDICATION -->
            <li class="mb-1">
              <div class="d-inline-flex divsvgpres">
                <svg class="Layer" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 2 25 27"
                  data-bs-toggle="collapse" data-bs-target="#medicationcollapse" aria-expanded="false">
                  <path
                    d="m10.68,15.64l-.22.28c-.96.85-1.48,2.12-1.34,3.33-.07,0-.14,0-.14.07-1.86.71-4.02-.07-4.99-1.7l7.15-2.9c.07.21.14.36.14.57,0,0-.07,0-.14.07l-.23.15-.23.14Zm4.68,6.3h0c-1.71.99-3.94.63-5.2-.85-1.19-1.56-.96-3.68.45-5.03l4.75,5.88Zm-11.68-5.1h0l7.15-2.83c-.97-1.69-3.13-2.47-4.91-1.77-1.94.78-2.83,2.76-2.24,4.6h0Zm4.92-11.19h0l-.23.22c-.6.78-.75,1.77-.45,2.69.22.57.59,1.06,1.04,1.42l3.41,2.41,3.79-4.88-3.34-2.41c-1.34-.99-3.27-.71-4.23.56h0Zm4.16,6.94h0l3.65,2.69c.66.5,1.48.64,2.3.57.82-.15,1.56-.57,2-1.14l.15-.21c.59-.78.82-1.77.45-2.69-.15-.56-.52-1.06-1.04-1.42l-3.65-2.69-3.86,4.88Zm-1.49,2.97h0l4.84,5.88c1.41-1.35,1.64-3.47.45-5.03-1.27-1.49-3.5-1.84-5.29-.85h0Z" />
                </svg>

                <a id="btn3"
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btnheadfont p-0"
                  data-bs-toggle="collapse" data-bs-target="#medicationcollapse" aria-expanded="false">
                  Medication
                </a>

              </div>
              <div class="collapse " id="medicationcollapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">


                  <!-- MEDICATION Anti-Cancer -->
                  <li>
                    <a id="btn11" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#anticancercollapse"
                      aria-expanded="false">Anti-Cancer</a>
                    <div class="collapse" id="anticancercollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">


                        <% AntiCancer.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>  
                          </li>

                          <% }) %>
                            <!-- <li class="mb-1 list-group-item list-group-item-action ATRA">ATRA</li> -->
                            <!-- <li class="mb-1 list-group-item list-group-item-action Basiliximab">Basiliximab</li> -->
                            <li class="mb-1 list-group-item list-group-item-action Cyclophpsphamide">Cyclophpsphamide</li>
                            <li class="mb-1 list-group-item list-group-item-action Dasatinib">Dasatinib</li>
                            <li class="mb-1 list-group-item list-group-item-action Etoposide">Etoposide</li>
                            <li class="mb-1 list-group-item list-group-item-action Hydroxyurea">Hydroxyurea</li>
                            <li class="my-1 list-group-item list-group-item-action Ifosfamide">Ifosfamide</li>
                            <li class="mb-1 list-group-item list-group-item-action Imatinib">Imatinib</li>
                            <li class="mb-1 list-group-item list-group-item-action Isotretinoin">Isotretinoin</li>
                            <li class="mb-1 list-group-item list-group-item-action Mercaptopurine">Mercaptopurine
                            </li>
                            <li class="mb-1 list-group-item list-group-item-action Procarbazine">Procarbazine</li>
                            <li class="mb-1 list-group-item list-group-item-action Rituximab">Rituximab</li>
                            <li class="mb-1 list-group-item list-group-item-action Temozolomide">Temozolomide</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Biotics -->
                  <li>
                    <a id="btn12" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#antibioticcollapse"
                      aria-expanded="false">AntiBiotics</a>
                    <div class="collapse" id="antibioticcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">


                        <% AntiBiotics.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>


                            <!-- <li class="my-1 list-group-item list-group-item-action AmoxicillinClavulanic">
                              Amoxicillin +
                              Clavulanic</li>
                            <li class="mb-1 list-group-item list-group-item-action Amoxicillin">Amoxicillin</li>
                            <li class="mb-1 list-group-item list-group-item-action Azithromycin">Azithromycin</li>
                            <li class="mb-1 list-group-item list-group-item-action Cefadroxil">Cefadroxil</li>
                            <li class="mb-1 list-group-item list-group-item-action Cefdinir">Cefdinir</li>
                            <li class="mb-1 list-group-item list-group-item-action Cefpodoxime">Cefpodoxime</li>
                            <li class="mb-1 list-group-item list-group-item-action Ciprofloxacin">Ciprofloxacin</li>
                            <li class="mb-1 list-group-item list-group-item-action Clindamycin">Clindamycin</li>
                            <li class="mb-1 list-group-item list-group-item-action Dapsone">Dapsone</li>
                            <li class="mb-1 list-group-item list-group-item-action Levofloxacin">Levofloxacin</li>
                            <li class="mb-1 list-group-item list-group-item-action Linezolid">Linezolid</li>
                            <li class="mb-1 list-group-item list-group-item-action Sulfamethoxazole">
                              Sulfamethoxazole +
                              Trimethoprim</li> -->

                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Coagulant-->
                  <li>
                    <a id="btn13" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#AntiCoagulantcollapse"
                      aria-expanded="false">Anti-Coagulant</a>
                    <div class="collapse" id="AntiCoagulantcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">
                        <% AntiCoagulant.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>
                            <!-- <li class="my-1 list-group-item list-group-item-action Enoxaparin">Enoxaparin</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Convulsant-->
                  <li>
                    <a id="btn14" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#AntiConvulsantcollapse"
                      aria-expanded="false">Anti-Convulsant</a>
                    <div class="collapse" id="AntiConvulsantcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiConvulsant.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>
                            <!-- <li class="my-1 list-group-item list-group-item-action Gapabentin">Gapabentin</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Diarrheal-->
                  <li>
                    <a id="btn15" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#AntiDiarrhealccollapse"
                      aria-expanded="false">Anti-Diarrheal</a>
                    <div class="collapse" id="AntiDiarrhealccollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiDiarrheal.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Diphenoxylate">Diphenoxylate &
                              Atropine
                            </li>
                            <li class="mb-1 list-group-item list-group-item-action Paracetamol">Paracetamol</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-emetic -->
                  <li>
                    <a id="btn16" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antiemeticcecollapse"
                      aria-expanded="false">Anti-Emetic</a>
                    <div class="collapse" id="Antiemeticcecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiEmetic.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Aprepitant">Aprepitant</li>
                            <li class="mb-1 list-group-item list-group-item-action Ondansetron">Ondansetron</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Flatulence -->
                  <li>
                    <a id="btn17" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#AntiFlatulencecollapse"
                      aria-expanded="false">Anti-Flatulence</a>
                    <div class="collapse" id="AntiFlatulencecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiFlatulence.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Acicone">(Magaldrate,
                              Simethicone)</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Fungal -->
                  <li>
                    <a id="btn18" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#antifungalcollapse"
                      aria-expanded="false">AntiFungal</a>
                    <div class="collapse" id="antifungalcollapse">
                      <ul class="ms-3 list-group group" style="list-style: none; text-align: center;">

                        <% AntiFungal.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Bifonazole">Bifonazole</li>
                            <li class="mb-1 list-group-item list-group-item-action Fluconazole">Fluconazole</li>
                            <li class="mb-1 list-group-item list-group-item-action Itraconazole">Itraconazole</li>
                            <li class="mb-1 list-group-item list-group-item-action Posaconazole">Posaconazole</li>
                            <li class="mb-1 list-group-item list-group-item-action Terbinafine">Terbinafine</li>
                            <li class="mb-1 list-group-item list-group-item-action Voriconazole">Voriconazole</li> -->

                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-gout -->
                  <li>
                    <a id="btn19" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antigoutcecollapse" aria-expanded="false">Anti-Gout</a>
                    <div class="collapse" id="Antigoutcecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiGout.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Allopurinol">Allopurinol</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Hyperprolactinemia-->
                  <li>
                    <a id="btn20" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Hyperprolactinemiacollapse"
                      aria-expanded="false">Anti-Hyperprolactinemia</a>
                    <div class="collapse" id="Hyperprolactinemiacollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiHyperprolactinemia.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Cabergoline">Cabergoline</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-inflammatory & Antiedematous -->
                  <li>
                    <a id="btn21" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antiinflamcecollapse"
                      aria-expanded="false">Anti-inflammatory & Antiedematous</a>
                    <div class="collapse" id="Antiinflamcecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Antiinflammatory.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Alpha">Alpha Amylase</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Spasmodic-->
                  <li>
                    <a id="btn22" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#AntiSpasmodiccollapse"
                      aria-expanded="false">Anti-Spasmodic</a>
                    <div class="collapse" id="AntiSpasmodiccollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiSpasmodic.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Flavoxate">Flavoxate</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Tussive-->
                  <li>
                    <a id="btn23" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#AntiTussivecollapse"
                      aria-expanded="false">Anti-Tussive</a>
                    <div class="collapse" id="AntiTussivecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiTussive.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Butamirate">Butamirate</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anti-Viral -->
                  <li>
                    <a id="btn24" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antiviralcecollapse"
                      aria-expanded="false">Anti-Viral</a>
                    <div class="collapse" id="Antiviralcecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% AntiViral.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Acyclovir">Acyclovir</li>
                            <li class="my-1 list-group-item list-group-item-action Oseltamivir">Oseltamivir</li>
                            <li class="my-1 list-group-item list-group-item-action Ribavirin">Ribavirin</li>
                            <li class="my-1 list-group-item list-group-item-action Valganciclovir">Valganciclovir</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Analgesic / NSAID-->
                  <li>
                    <a id="btn25" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Analgesiccollapse" aria-expanded="false">Analgesic /
                      NSAID</a>
                    <div class="collapse" id="Analgesiccollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Analgesic.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Diclofenac">Diclofenac</li>
                            <li class="mb-1 list-group-item list-group-item-action Ibuprofen">Ibuprofen</li>
                            <li class="mb-1 list-group-item list-group-item-action Ketoprofen">Ketoprofen</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Antacid/ Anti-Flatulent -->
                  <li>
                    <a id="btn26" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antacidcecollapse" aria-expanded="false">Antacid/
                      Anti-Flatulent</a>
                    <div class="collapse" id="Antacidcecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Antacid.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action AluminumHydroxide">Aluminum Hydroxide
                              +
                              Mg + Dimethicone</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Anthelmintic-->
                  <li>
                    <a id="btn27" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Anthelminticcollapse"
                      aria-expanded="false">Anthelmintic</a>
                    <div class="collapse" id="Anthelminticcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Anthelmintic.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Flavoxate">Flubendazole</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Antihistamine-->
                  <li>
                    <a id="btn28" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antihistaminecollapse"
                      aria-expanded="false">Antihistamine</a>
                    <div class="collapse" id="Antihistaminecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Antihistamine.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Cetirizine">Cetirizine</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Antidote-->
                  <li>
                    <a id="btn29" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Antidotecollapse" aria-expanded="false">Antidote</a>
                    <div class="collapse" id="Antidotecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Antidote.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action Calcitonin">Calcitonin</li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Cardiology -->
                  <li>
                    <a id="btn30" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Cardiologycollapse"
                      aria-expanded="false">Cardiology</a>
                    <div class="collapse" id="Cardiologycollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Cardiology.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Captopril">Captopril 25mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Furosemide">Furosemide 40mg</li>
                            <li class="mb-1 list-group-item list-group-item-action px-2 Spironolactone">Spironolactone
                              25mg
                            </li>
                            <li class="mb-1 list-group-item list-group-item-action px-2 Lasilactone">Furosemide 20mg
                              Spironolactone 50mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Carvid">Carvedilol 6.25mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Coradarone">Amiodarone 200mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Propranolol">Propranolol 10mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Atenolol">Atenolol 100mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Apresoline">Hydralazine chloride
                              tablet
                              25mg IV: 20mg/ml</li>
                            <li class="mb-1 list-group-item list-group-item-action Nifedipine">Nifedipine</li>
                            <li class="mb-1 list-group-item list-group-item-action Minipress">Prazocin HCL 1 & 2 mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Doxazosin">Doxazosin 2mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Capozide">Captopril 50mg + HCT 25mg
                            </li>
                            <li class="mb-1 list-group-item list-group-item-action Valsartan">Valsartan 40, 80, 160 mg
                            </li>
                            <li class="mb-1 list-group-item list-group-item-action Sotalol">Sotalol 40 & 80 mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Ivabradine">Ivabradine 5 mg</li>
                            <li class="mb-1 list-group-item list-group-item-action SacubitrilandValsartan">Sacubitril
                              and
                              Valsartan</li>
                            <li class="mb-1 list-group-item list-group-item-action Dapagliflozin">Dapagliflozin 10 mg
                            </li>
                            <li class="mb-1 list-group-item list-group-item-action Sildenafil">Sildenafil 100 mg</li>
                            <li class="mb-1 list-group-item list-group-item-action Amlodipine">Amlodipine 5mg</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Nasal Corticosteroid -->
                  <li>
                    <a id="btn31" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Corticosteroidcollapse"
                      aria-expanded="false">Corticosteroid</a>
                    <div class="collapse" id="Corticosteroidcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Corticosteroid.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Budesonide">Budesonide</li>
                            <li class="mb-1 list-group-item list-group-item-action Cosyntropin">Cosyntropin</li>
                            <li class="mb-1 list-group-item list-group-item-action Dexamethasone">Dexamethasone</li>
                            <li class="mb-1 list-group-item list-group-item-action Hydrocortisone">Hydrocortisone</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Dietary Supplement-->
                  <li>
                    <a id="btn32" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#DietarySupplementcollapse"
                      aria-expanded="false">Dietary Supplement</a>
                    <div class="collapse" id="DietarySupplementcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% DietarySupplement.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Ginkgo">Ginkgo</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Electrolyte Supplement-->
                  <li>
                    <a id="btn33" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Electrolytecollapse" aria-expanded="false">Electrolyte
                      Supplement</a>
                    <div class="collapse" id="Electrolytecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% ElectrolyteSupplement.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action CalciumCitrate">Calcium Citrate</li>
                            <li class="mb-1 list-group-item list-group-item-action Calcium">Calcium</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Expectorant -->
                  <li>
                    <a id="btn34" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Expectorantcollapse"
                      aria-expanded="false">Expectorant</a>
                    <div class="collapse" id="Expectorantcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Expectorant.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Bronchophane">Bronchophane</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Gastrointestinal-->
                  <li>
                    <a id="btn35" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Gastrointestinalcollapse"
                      aria-expanded="false">Gastrointestinal</a>
                    <div class="collapse" id="Gastrointestinalcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Gastrointestinal.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Domperidone">Domperidone</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Hemostatic Agent-->
                  <li>
                    <a id="btn36" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Hemostaticcollapse" aria-expanded="false">Hemostatic
                      Agent</a>
                    <div class="collapse" id="Hemostaticcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% HemostaticAgent.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Ethamsylate">Ethamsylate</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Immunosuppressant -->
                  <li>
                    <a id="btn37" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Immunosuppressantcecollapse"
                      aria-expanded="false">Immunosuppressant</a>
                    <div class="collapse" id="Immunosuppressantcecollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Immunosuppressant.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Azathioprine">Azathioprine</li>
                            <li class="mb-1 list-group-item list-group-item-action Cyclosporine">Cyclosporine</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Mast Cell Stabilizer-->
                  <li>
                    <a id="btn38" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#MSTcollapse" aria-expanded="false">Mast Cell
                      Stabilizer</a>
                    <div class="collapse" id="MSTcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% MastCellStabilizer.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Ketotifen">Ketotifen</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Mucolytic -->
                  <li>
                    <a id="btn39" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Mucolyticcollapse" aria-expanded="false">Mucolytic</a>
                    <div class="collapse" id="Mucolyticcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Mucolytic.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Bromhexine">Bromhexine</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION NEUROLOGY -->
                  <li>
                    <a id="btn40" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Neurologycollapse" aria-expanded="false">Neurology</a>
                    <div class="collapse" id="Neurologycollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Neurology.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Acetazolamide">Acetazolamide</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Osteoarthritis-->
                  <li>
                    <a id="btn41" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Osteoarthritiscollapse"
                      aria-expanded="false">Osteoarthritis</a>
                    <div class="collapse" id="Osteoarthritiscollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Osteoarthritis.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Glucosamine">Glucosamine</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION SKELETL MUSCLE RELAXANT -->
                  <li>
                    <a id="btn42" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#smrcollapse" aria-expanded="false">Skeletal Muscle
                      Relaxant</a>
                    <div class="collapse" id="smrcollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% SkeletalMuscleRelaxant.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Baclofen">Baclofen</li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Vasopressin-->
                  <li>
                    <a id="btn43" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Vasopressincollapse" aria-expanded="false">Vasopressin
                      Hormone</a>
                    <div class="collapse" id="Vasopressincollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% VasopressinHormone.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <!-- <li class="my-1 list-group-item list-group-item-action Desmopressin">Desmopressin</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li> -->
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Water Soluble Vitamin-->
                  <li>
                    <a id="btn44" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#WaterSolubleVitamincollapse"
                      aria-expanded="false">Water Soluble Vitamin</a>
                    <div class="collapse" id="WaterSolubleVitamincollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% WaterSolubleVitamin.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action FolicAcid">Folic Acid</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>

                  <!-- MEDICATION Mao inhibitor-->
                  <li>
                    <a id="btn45" class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont"
                      data-bs-toggle="collapse" data-bs-target="#Maocollapse" aria-expanded="false">Mao
                      inhibitor</a>
                    <div class="collapse" id="Maocollapse">
                      <ul class="list-group group" style="list-style: none; text-align: center;">

                        <% Maoinhibitor.forEach(item=> { %>
                          <li class="mb-1 list-group-item list-group-item-action medication <%= item.code%>">
                            <p hidden class="code"><%= item.code%></p>
                            <%= item.generic%>
                          </li>
                          <% }) %>

                            <li class="my-1 list-group-item list-group-item-action FolicAcid">Folic Acid</li>
                            <li class="mb-1 list-group-item list-group-item-action "></li>
                      </ul>
                    </div>
                  </li>
                  <li class="ms-3 border-top notlist" style="list-style: none;"></li>
                </ul>
              </div>
            </li>
            <!-- DIC COMUNICATION -->
            <li class="mb-1">
              <div class="d-inline-flex divsvgpres">
                <svg class="Layer" data-name="Layer 1" viewBox="0 0 25 27" data-bs-toggle="collapse"
                  data-bs-target="#DICcollapse" aria-expanded="false">

                  <path
                    d="m13.07,18.35c4.53-.23,8.11-3.16,8.11-6.74s-3.88-6.75-8.68-6.75S3.82,7.89,3.82,11.61c0,2.84,2.25,5.26,5.43,6.26l-1.43,4.26,5.24-3.78Z" />
                  <path
                    d="m7.83,22.5c-.07,0-.14-.03-.2-.08-.11-.1-.15-.26-.1-.41l1.3-3.9c-3.25-1.14-5.33-3.66-5.33-6.5,0-3.92,4.04-7.11,9-7.11s9,3.19,9,7.11c0,3.72-3.65,6.82-8.33,7.1l-5.16,3.73c-.05.04-.12.06-.18.06ZM12.5,5.22c-4.6,0-8.35,2.87-8.35,6.39,0,2.6,2.04,4.93,5.19,5.92.09.03.16.09.2.18.04.09.05.2.01.29l-1.08,3.23,4.41-3.19s.1-.05.16-.06c4.37-.22,7.8-3.02,7.8-6.38,0-3.52-3.75-6.39-8.35-6.39Z" />
                  <rect class="cls" x="7.17" y="9.42" width="10.73" height=".55" />
                  <rect class="cls" x="7.17" y="11.52" width="10.73" height=".55" />
                  <rect class="cls" x="7.17" y="13.61" width="5.75" height=".55" />
                </svg>

                <a id="btn4"
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btnheadfont p-0"
                  data-bs-toggle="collapse" data-bs-target="#DICcollapse" aria-expanded="false">
                  DIC Communication
                </a>

              </div>
              <div class="collapse" id="DICcollapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont NonChemoTherapy">Non-ChemoTherapy
                      IV</a>
                  </li>

                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont ChemoTherapy">ChemoTherapy
                      IV</a>
                  </li>
                  <li>
                    <a
                      class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont Sorafenib-Guidelines">Sorafenib-Guidelines</a>
                  </li>
                  <li>
                    <a
                      class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont FN-Guidelines">FN-Guidelines</a>
                  </li>
                  <li>
                    <a
                      class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont DasatinibGuidelines">Dasatinib-Administration-Guidelines</a>
                  </li>
                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont Algorithm">Algorithm
                      for Child Status Epilepticus emergency</a>
                  </li>
                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont Psycho-Oncolgy">Psycho-Oncolgy
                      Guidlines</a>
                  </li>
                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont Neuro-Oncology">Neuro-Oncology
                      Guidlines</a>
                  </li>
                </ul>
              </div>

            </li>
            <!-- WORKFLOW ORIENTATION -->
            <li class="mb-1">
              <div class="d-inline-flex divsvgpres">
                <svg class="Layer" version="1.1" data-bs-toggle="collapse"
                data-bs-target="#workflowcollapse" aria-expanded="false"
                   x="0px" y="0px" viewBox="0 0 25 27"
                  style="enable-background:new 0 0 25 27;" xml:space="preserve">
                  <style type="text/css">
                    .st0 {
                      fill: #595959;
                    }

                    .st1 {
                      fill: #FFFFFF;
                    }

                    .st2 {
                      fill-rule: evenodd;
                      clip-rule: evenodd;
                      fill: #595959;
                    }

                    .st3 {
                      fill: #DE2B38;
                    }

                    .st4 {
                      fill: #298C43;
                    }

                    .st5 {
                      fill: #7E8DAD;
                    }

                    .st6 {
                      fill-rule: evenodd;
                      clip-rule: evenodd;
                      fill: #FFFFFF;
                    }

                    .st7 {
                      fill: #A7A9AC;
                    }

                    .st8 {
                      fill: #EF3E3D;
                    }

                    .st9 {
                      fill: #010101;
                    }

                    .st10 {
                      fill: url(#XMLID_00000148637652293771172110000003379351572145729716_);
                    }

                    .st11 {
                      fill: #AAD2DC;
                    }

                    .st12 {
                      fill: #D3E3EB;
                    }

                    .st13 {
                      fill: url(#XMLID_00000004541024263958733990000008135153974591358861_);
                    }

                    .st14 {
                      fill: url(#XMLID_00000172398241962834300120000000159524998391710640_);
                    }

                    .st15 {
                      fill: url(#XMLID_00000078046008640994237260000014302011458776401087_);
                    }

                    .st16 {
                      fill: url(#XMLID_00000078004983756687611510000007765669692834987668_);
                    }

                    .st17 {
                      fill: #AF76B2;
                    }

                    .st18 {
                      fill: none;
                      stroke: #24326A;
                      stroke-linecap: round;
                    }

                    .st19 {
                      fill: #24326A;
                    }

                    .st20 {
                      fill: none;
                      stroke: #FFFFFF;
                      stroke-linecap: round;
                    }

                    .st21 {
                      fill: #BB9B95;
                    }

                    .st22 {
                      fill: #DECAC6;
                    }

                    .st23 {
                      fill: #429DD7;
                    }

                    .st24 {
                      fill: #72B3E2;
                    }

                    .st25 {
                      opacity: 0.5;
                      fill: #E8F2FB;
                    }

                    .st26 {
                      opacity: 0.5;
                      fill: #FFFFFF;
                    }

                    .st27 {
                      fill: #E93837;
                    }

                    .st28 {
                      fill: #F05044;
                    }

                    .st29 {
                      fill: #EFE2E1;
                    }

                    .st30 {
                      fill: #F15F50;
                    }

                    .st31 {
                      fill: #EAD9D8;
                    }

                    .st32 {
                      fill: #F04D3F;
                    }

                    .st33 {
                      fill: #422D2A;
                    }

                    .st34 {
                      fill: #573B38;
                    }

                    .st35 {
                      fill: #664545;
                    }

                    .st36 {
                      fill: #D1B8B4;
                    }

                    .st37 {
                      fill: #C5A9A6;
                    }

                    .st38 {
                      fill: #7FA63F;
                    }

                    .st39 {
                      fill: #98CA42;
                    }
                  </style>
                  <g>
                    <g id="B95_x2C__Bulb_x2C__Idea_x2C__Gear_x2C__Setting">
                      <g>
                        <g>
                          <g>
                            <path class="st0" d="M12.7,9.2c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1c0.6,0,1.1-0.5,1.1-1.1
						C13.8,9.7,13.3,9.2,12.7,9.2z" />
                            <path class="st0" d="M15.4,12.7l-0.5-0.8c0-0.1,0-0.2,0-0.2c0.2-0.3,0.3-0.5,0.3-0.8c0-0.1,0.1-0.1,0.2-0.2l0.9-0.2V10
						l-0.9-0.2c-0.1,0-0.1-0.1-0.2-0.2c-0.1-0.3-0.2-0.6-0.3-0.8c0-0.1,0-0.2,0-0.2l0.5-0.8l-0.3-0.3L14.3,8c-0.1,0-0.2,0-0.2,0
						c-0.2-0.2-0.5-0.3-0.8-0.3c-0.1,0-0.1-0.1-0.2-0.2l-0.2-0.9h-0.4l-0.2,0.9c0,0.1-0.1,0.1-0.2,0.2c-0.3,0.1-0.6,0.2-0.8,0.3
						c-0.1,0-0.2,0-0.2,0l-0.8-0.5L10,7.9l0.5,0.8c0,0.1,0,0.2,0,0.2c-0.2,0.3-0.3,0.5-0.3,0.8c0,0.1-0.1,0.1-0.2,0.2l-0.9,0.2v0.4
						l0.9,0.2c0.1,0,0.1,0.1,0.2,0.2c0.1,0.3,0.2,0.6,0.3,0.8c0,0.1,0,0.2,0,0.2L10,12.7l0.3,0.3l0.8-0.5c0.1,0,0.2,0,0.2,0
						c0.2,0.2,0.5,0.3,0.8,0.3c0.1,0,0.1,0.1,0.2,0.2l0.2,0.9h0.4l0.2-0.9c0-0.1,0.1-0.1,0.2-0.2c0.3-0.1,0.6-0.2,0.8-0.3
						c0.1,0,0.2,0,0.2,0l0.8,0.5L15.4,12.7z M12.7,11.7c-0.8,0-1.5-0.7-1.5-1.5c0-0.8,0.7-1.5,1.5-1.5c0.8,0,1.5,0.7,1.5,1.5
						C14.2,11.1,13.5,11.7,12.7,11.7z" />
                            <path class="st0" d="M21.1,8.1C21,8,20.9,8,20.8,8c-0.1,0.1-0.1,0.2-0.1,0.3c0.3,0.6,0.5,1.2,0.5,1.8s-0.2,1.3-0.5,1.8
						c-0.1,0.1,0,0.2,0.1,0.3c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2-0.1c0.4-0.6,0.6-1.3,0.6-2C21.7,9.4,21.5,8.7,21.1,8.1z" />
                            <path class="st0" d="M19.8,8.8c-0.1,0.1-0.1,0.2-0.1,0.3c0.2,0.3,0.3,0.7,0.3,1c0,0.3-0.1,0.7-0.3,1c-0.1,0.1,0,0.2,0.1,0.3
						c0,0,0.1,0,0.1,0c0.1,0,0.1,0,0.2-0.1c0.2-0.4,0.3-0.8,0.3-1.2c0-0.4-0.1-0.8-0.3-1.2C20,8.8,19.9,8.8,19.8,8.8z" />
                            <path class="st0" d="M4.6,11.9c-0.3-0.6-0.5-1.2-0.5-1.8s0.2-1.3,0.5-1.8c0.1-0.1,0-0.2-0.1-0.3C4.5,7.9,4.3,8,4.3,8.1
						c-0.4,0.6-0.6,1.3-0.6,2c0,0.7,0.2,1.4,0.6,2c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1,0C4.6,12.1,4.6,12,4.6,11.9z" />
                            <path class="st0" d="M5.7,11.1c-0.2-0.3-0.3-0.7-0.3-1c0-0.3,0.1-0.7,0.3-1c0.1-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2,0-0.3,0.1
						C5.1,9.2,5,9.6,5,10.1c0,0.4,0.1,0.8,0.3,1.2c0,0.1,0.1,0.1,0.2,0.1c0,0,0.1,0,0.1,0C5.7,11.3,5.7,11.2,5.7,11.1z" />
                            <path class="st0" d="M19.5,22.1h-5c0.4-0.3,0.6-0.8,0.6-1.3v-0.7h0.2c0.5,0,1-0.5,1-1.1c0-0.6-0.4-1-1-1
						c0.2-1.4,0.7-2.7,1.5-3.7c0.1-0.1,0.1-0.2,0.2-0.3c0.9-1.1,1.3-2.4,1.3-3.8c0-1.5-0.6-3-1.6-4.1c-1.1-1.1-2.4-1.7-3.9-1.7h0
						c-1.5,0-2.9,0.6-3.9,1.7c-1.1,1.1-1.7,2.6-1.7,4.1c0,1.4,0.5,2.7,1.3,3.8c0.1,0.1,0.1,0.2,0.2,0.3c0.8,1.1,1.3,2.4,1.4,3.7
						c-0.5,0-1,0.5-1,1c0,0.6,0.4,1.1,1,1.1h0.2v0.7c0,0.5,0.2,1,0.6,1.3H5.8c-0.1,0-0.2,0.1-0.2,0.2c0,0.1,0.1,0.2,0.2,0.2H12h1.4
						h6.1c0.1,0,0.2-0.1,0.2-0.2C19.7,22.2,19.6,22.1,19.5,22.1z M13.6,16.4h-0.8v0.8h-0.8v-0.8h0.8v-0.8h-0.8v-0.8h0.8v0.8h0.8
						V16.4z M13.5,13.1l-0.2,1c0,0.1-0.1,0.2-0.2,0.2h-0.7c-0.1,0-0.2-0.1-0.2-0.2l-0.2-1c-0.2-0.1-0.5-0.2-0.7-0.3l-0.8,0.5
						c-0.1,0.1-0.2,0-0.2,0l-0.5-0.5c-0.1-0.1-0.1-0.2,0-0.3l0.5-0.8C10,11.5,9.9,11.3,9.9,11l-1-0.2c-0.1,0-0.2-0.1-0.2-0.2V9.9
						c0-0.1,0.1-0.2,0.2-0.2l1-0.2C9.9,9.3,10,9,10.1,8.8L9.6,7.9c-0.1-0.1,0-0.2,0-0.3l0.5-0.5c0.1-0.1,0.2-0.1,0.2,0l0.8,0.5
						c0.2-0.1,0.5-0.2,0.7-0.3l0.2-1c0-0.1,0.1-0.2,0.2-0.2h0.7c0.1,0,0.2,0.1,0.2,0.2l0.2,1c0.2,0.1,0.5,0.2,0.7,0.3L15,7.2
						c0.1-0.1,0.2,0,0.2,0l0.5,0.5c0.1,0.1,0.1,0.2,0,0.3l-0.5,0.8c0.1,0.2,0.2,0.5,0.3,0.7l1,0.2c0.1,0,0.2,0.1,0.2,0.2v0.7
						c0,0.1-0.1,0.2-0.2,0.2l-1,0.2c-0.1,0.3-0.2,0.5-0.3,0.7l0.5,0.8c0.1,0.1,0,0.2,0,0.3l-0.5,0.5c-0.1,0.1-0.2,0.1-0.2,0
						l-0.8-0.5C14,13,13.7,13.1,13.5,13.1z" />
                            <path class="st0" d="M20.6,22.1c-0.1,0-0.1,0-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0.1,0,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1
						c0.1,0,0.1,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0-0.1,0-0.1-0.1-0.1C20.7,22.1,20.7,22.1,20.6,22.1z" />
                            <path class="st0" d="M4.6,22.1c-0.1,0-0.1,0-0.1,0.1c0,0-0.1,0.1-0.1,0.1c0,0.1,0,0.1,0.1,0.1c0,0,0.1,0.1,0.1,0.1
						c0.1,0,0.1,0,0.1-0.1c0,0,0.1-0.1,0.1-0.1c0-0.1,0-0.1-0.1-0.1C4.8,22.1,4.7,22.1,4.6,22.1z" />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </svg>

                <a id="btn5"
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btnheadfont p-0"
                  data-bs-toggle="collapse" data-bs-target="#workflowcollapse" aria-expanded="false">
                  WORKFLOW
                </a>

              </div>
              <div class="collapse" id="workflowcollapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont pyxisrequisetion">Pyxis
                      Requisition</a>
                  </li>

                  <li>
                    <a
                      class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont ChemoTherapy">Cerner</a>
                  </li>

                </ul>
              </div>

            </li>
            <!-- SCIENTIFIC PAPER -->
            <li class="mb-1">
              <div class="d-inline-flex divsvgpres">
                <svg class="Layer me-1" data-name="Layer 1" viewBox="-3 1 25 27" data-bs-toggle="collapse"
                  data-bs-target="#papercollapse" aria-expanded="false">

                  <path
                    d="m4.68,4.49v1.06h13.54v-1.06H4.68Zm0,2.49h0v.96h13.54v-.96H4.68Zm0,2.4h0v.96h13.54v-.96H4.68Zm0,2.4h0v1.06h11.43v-1.06H4.68Zm0,2.4h0v1.06h7.59v-1.06h-7.59Zm8.54,7.67h0v1.05h6.24v-1.05h-6.24Zm9.42-8.35h0l-5.38,5.37,1.44,1.35,5.28-5.37-1.34-1.35Zm-6.14,7.48h0l1.06-.29.96-.38-.68-.67-.67-.67-.29.96-.38,1.06ZM1.61,1.32h20.26v12.66l-1.15,1.05V2.38H2.18v22.16h18.54v-6.14l1.15-1.05v8.34H1.02V1.32h.58Z" />
                </svg>

                <a id="btn6"
                  class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed btnheadfont p-0 "
                  data-bs-toggle="collapse" data-bs-target="#papercollapse" aria-expanded="false">
                  Scientific Paper
                </a>

              </div>
              <div class="collapse " id="papercollapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

                  <li>
                    <a class=" d-inline-flex text-decoration-none rounded collapsed btnsubheadfont NonChemoTherapy"></a>
                  </li>

                </ul>
              </div>

            </li>

            <li class=" border-top my-3"></li>

            <div class="container-fluid search">
              <form class="d-flex flex-column " role="search">
                <input id="searchInput" class="form-control me-2 mb-2" type="search" placeholder="Search"
                  aria-label="Search">
                <button id="searchButton" class="btn btn-outline-success searchbtn" type="submit">Search</button>
              </form>
            </div>
          </ul>
        </div>

        <!-- 1250 580 -->

        <div class="container" id="container" style="position: fixed; top: 80px; right:0; width: 82vw; height: 82vh;">
          <p>
            helllo every body <br>
            wellcome
          </p>
          <% med.forEach(item=> { %>
            <div class="row d-none <%= item.code%>">
              <div class="col col-12">
                <div class="one mt-5">
                  <h1 class="flex-shrink-0">
                    <%= item.generic %> <br>
                      <p style="color:red;margin-bottom:0">
                        <%= item.trade %><sup></sup>
                      </p>
                      <span class="mt-1">Medication Monograph</span>
                  </h1>
                </div>
                

                  <div class="accordion mt-5 mb-5 flex-shrink-0" id="accordionExample<%= item.code %>">

                    <div class="accordion-item <%=  item.classname === "" || item.classname === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapOne<%= item.code %>" aria-expanded="true" aria-controls="collapOne<%= item.code %>">
                          <img src="../svg/Origin.svg" alt="" height="30px" class="me-2">
                          General Class
                        </button>
                      </h2>
                      <div id="collapOne<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.classname %></p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.origin === "" || item.origin === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapOne<%= item.code %>" aria-expanded="true" aria-controls="collapOne<%= item.code %>">
                          <img src="../svg/Origin.svg" alt="" height="30px" class="me-2">
                          Pharmacological Class
                        </button>
                      </h2>
                      <div id="collapOne<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.classname %></p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.mechanism === "" || item.mechanism === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwo<%= item.code %>" aria-expanded="true" aria-controls="collapseTwo<%= item.code %>">
                          <img src="../svg/MOP.svg" alt="" height="30px" class="me-2">
                          Mechanism Of Action
                        </button>
                      </h2>
                      <div id="collapseTwo<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.mechanism %></p>  
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.dosageform === "" || item.dosageform === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseThree<%= item.code %>" aria-expanded="true" aria-controls="collapseThree<%= item.code %>">
                          <img src="../svg/Dose.svg" alt="" height="30px" class="me-2">
                          Dosage form
                        </button>
                      </h2>
                      <div id="collapseThree<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.dosageform %></p>  
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.dose === "" || item.dose === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseFour<%= item.code %>" aria-expanded="true" aria-controls="collapseFour<%= item.code %>">
                          <img src="../svg/Dose.svg" alt="" height="30px" class="me-2">
                          Dose
                        </button>
                      </h2>
                      <div id="collapseFour<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.dose %></p>  
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.administration === "" || item.administration === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapsefive<%= item.code %>" aria-expanded="true" aria-controls="collapsefive<%= item.code %>">
                          <img src="../svg/Infution.svg" alt="" height="30px" class="me-2">
                          Administration
                        </button>
                      </h2>
                      <div id="collapsefive<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.administration %></p>    
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.ptinformation === "" || item.ptinformation === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSix<%= item.code %>" aria-expanded="true" aria-controls="collapseSix<%= item.code %>">
                          <img src="../svg/patientinformation.svg" alt="" height="30px" class="me-2">
                          Patient Information
                        </button>
                      </h2>
                      <div id="collapseSix<%= item.code %>" class="accordion-collapse collapse " data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.ptinformation %></p>  
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.sideeffect === "" || item.sideeffect === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseSeven<%= item.code %>" aria-expanded="true" aria-controls="collapseSeven<%= item.code %>">
                          <img src="../svg/sideeffect.svg" alt="" height="30px" class="me-2">
                          Side Effects
                        </button>
                      </h2>
                      <div id="collapseSeven<%= item.code %>" class=" accordion-collapse collapse" data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.sideeffect %></p>
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.monitor === "" || item.monitor === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseEight<%= item.code %>" aria-expanded="true" aria-controls="collapseEight<%= item.code %>">
                          <img src="../svg/Monitor.svg" alt="" height="30px" class="me-2">
                          Monitor Parameters
                        </button>
                      </h2>
                      <div id="collapseEight<%= item.code %>" class=" accordion-collapse collapse" data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.monitor %></p>  
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.interaction === "" || item.interaction === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseNine<%= item.code %>" aria-expanded="true" aria-controls="collapseNine<%= item.code %>">
                          <img src="../svg/interaction.svg" alt="" height="30px" class="me-2">
                          Interaction
                        </button>
                      </h2>
                      <div id="collapseNine<%= item.code %>" class=" accordion-collapse collapse" data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.interaction %></p>  
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.specialprecaution === "" || item.specialprecaution === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTen<%= item.code %>" aria-expanded="true" aria-controls="collapseTen<%= item.code %>">
                          <img src="../svg/alert.svg" alt="" height="30px" class="me-2">
                          Special Precautions/Comments
                        </button>
                      </h2>
                      <div id="collapseTen<%= item.code %>" class=" accordion-collapse collapse" data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.specialprecaution %></p>
                          
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.toxicity === "" || item.toxicity === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseEleven<%= item.code %>" aria-expanded="true" aria-controls="collapseEleven<%= item.code %>">
                          <img src="/svg/toxicity-16.svg" alt="" height="30px" class="me-2">
                          Toxicity And Management
                        </button>
                      </h2>
                      <div id="collapseEleven<%= item.code %>" class=" accordion-collapse collapse" data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.toxicity %></p>
                          
                        </div>
                      </div>
                    </div>

                    <div class="accordion-item <%=  item.miscellaneous === "" || item.miscellaneous === undefined? " d-none" : "d-block" %>">
                      <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseTwelve<%= item.code %>" aria-expanded="true" aria-controls="collapseTwelve<%= item.code %>">
                          <img src="/svg/toxicity-16.svg" alt="" height="30px" class="me-2">
                          Miscellaneous
                        </button>
                      </h2>
                      <div id="collapseTwelve<%= item.code %>" class=" accordion-collapse collapse" data-bs-parent="#accordionExample<%= item.code %>">
                        <div class="accordion-body">
                          <p class="mb-0 accordion-content"><%= item.miscellaneous %></p>
                          
                        </div>
                      </div>
                    </div>

                  </div>
                
              </div>
            </div>
            <% }) %>

        </div>



      </main>


      <!-- LINK TO jQuary -->
      <script src="../js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="../js/aos.js"></script>
      <script src="../js/bootstrap.bundle.min.js"></script>
      <script src="../js/glightbox.min.js"></script>
      <script src="../js/isotope.pkgd.min.js"></script>
      <script src="../js/swiper-bundle.min.js"></script>
      <script src="../js/noframework.waypoints.js"></script>
      <script src="../js/validate.js"></script>



      <script src="../js/main.js"></script>

      <!-- LINK TO CUSTOM JS -->
      <script defer src="../js/sidebars.js"></script>

      <style>
         .accordion-content{
          white-space: pre-wrap	;
        }
      </style>


</body>

</html>