<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Connect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon" />

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- FONTAWESOME -->
<link href="../fontawesome/css/fontawesome.css" rel="stylesheet" />
<link href="../fontawesome/css/brands.css" rel="stylesheet" />
<link href="../fontawesome/css/solid.css" rel="stylesheet" />
  <!-- BOOTSTRAP ICON -->
  <link href="/css/bootstrap-icons.css" rel="stylesheet" />
  <!-- BOOTSTRAP CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- HEADER CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Custom styles for this template -->
  <link href="/css/ivprep-in.css" rel="stylesheet" />
</head>

<body>
  <!-- /*--------------------------------------------------------------
  # header
  --------------------------------------------------------------*/ -->
  <%- include("../partials/header.ejs") %>

    <!-- /*--------------------------------------------------------------
  # light icon
  --------------------------------------------------------------*/ -->
    <%- include("../partials/lighticon.ejs") %>

      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="home" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
      </svg>

      <main class="d-flex flex-nowrap">
        <!-- /*--------------------------------------------------------------
    # Arrow Sidebar
    --------------------------------------------------------------*/ -->
        <%- include("../partials/arrow sidebar.ejs") %>


          <!-- /*--------------------------------------------------------------
    # DEVIDER
    --------------------------------------------------------------*/ -->

          <div style="position: relative; height: 90vh" class="w-100">

            <!-- NAVBAR -->

            <div>
              <nav class="navbar navbar-expand-lg bg-body-tertiary mx-1 mt-1 mb-1">
                <div class="container-fluid py-2 rounded-2 bg-info">
                  <div class="d-flex flex-row align-items-center">
                    <img src="../svg/ivprep-04.svg" height="35vh" alt="" />
                  </div>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" role="search" action="/outpatientprepsearch" method="post">
                      <input name="searchText" class="form-control me-2" type="search" placeholder="Search"
                        aria-label="Search" />
                      <button class="btn btn-outline-success" type="submit">
                        Search
                      </button>
                    </form>
                  </div>
                </div>
              </nav>
            </div>

            <div class="d-flex align-items-center mx-2 mb-1 justify-content-between">
              <div class="btn d-inline-flex justify-content-between">
                <button type="button" class="btn btn-outline-primary  position-relative"><a href="/prepin"
                    style="border: unset; color: unset;">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      <%= inarray.length %>
                      <span class="visually-hidden">unread messages</span>
                    </span>
                    <span class="side-text">InPatient</span>
                  </a></button>
                <button type="button" class="btn btn-outline-primary mx-3 position-relative active"><a href="/prepout"
                    style="border: unset; color: unset;">
                    <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      0
                      <span class="visually-hidden">unread messages</span>
                    </span> -->
                    <span class="side-text">OutPatient</span>
                  </a></button>
                <button type="button" class="btn btn-outline-primary position-relative"><a href="/prepdis"
                    style="border: unset; color: unset;">
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      <%= dispense.length %>
                      <span class="visually-hidden">unread messages</span>
                    </span>
                    <span class="side-text">Dispense</span>
                  </a></button>
              </div>
              <div class="btn-group d-inline-flex" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-danger"><a style="border: unset; color: unset;"
                    href="/edout">ExtraDose</a></button>
                <button type="button" class="btn btn-outline-danger"><a style="border: unset; color: unset;"
                    href="/doneviewout">DONE</a></button>
  
              </div>
  
            </div>

            <!-- /*--------------------------------------------------------------
      # MAIN CONTENT
      --------------------------------------------------------------*/ -->
            <div id="maincontent" class="d-flex justify-content-center align-items-center" >
              <% if (outarray.length===0) { %>
                <div class="alert alert-success new2 p-4 w-50 mt-5 ">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                        <span class="alert-body">
                          <h6 class="alert-header">ATTENTION</h6>
                          <p class="mb-0">No Data Avaliable</p>
                        </span>
                     </div>
                   </div>

                <% } %>

                  <% if (outarray.length>= 1) { %>
                    <table style="width: 99%" class="mx-auto table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col">#</th>
                          <th class="text-center" scope="col">Patient Name</th>
                          <th class="text-center" scope="col">MRN</th>
                          <th class="text-center" scope="col">Patient Floor</th>
                          <th class="text-center" scope="col">Request Type</th>
                          <th class="text-center" scope="col">Oral/IV</th>
                          <th class="text-center" scope="col">Round Comment</th>
                          <th class="text-center" scope="col">Round Time</th>
                          <th class="text-center" scope="col">Comment</th>
                          <th class="text-center" scope="col">Prep Time</th>
                          <th class="text-center" scope="col">Attach</th>
                          <th class="text-center" scope="col">Edit</th>
                          <th class="text-center" scope="col">Done</th>
                        </tr>
                      </thead>
                      <tbody id="tbody">
                        <% outarray.forEach((item,index)=> { %>
                      <tbody id="tbody">

                        <tr id="tr">
                          <td class="text-center">
                            <%= index+1 %>
                          </td>
                          <td class="text-center">
                            <%= item.patientname%>
                          </td>
                          <td class="text-center">
                            <%= item.mrn%>
                          </td>
                          <td class="text-center">
                            <%= item.ptfloor%>
                          </td>
                          <td class="text-center">
                            <%= item.requestype%>
                          </td>
                          <td class="text-center">
                            <%= item.oraliv%>
                          </td>
                          <td class="text-center">
                            <strong dir="rtl"><%= item.roundcomment%></strong>
                          </td>
                          <td class="text-center">
                            <style>
                              @keyframes customAni {
                                  0%,
                                  50%,
                                  100% {
                                  opacity: 1;
                                  }
                                
                                  25%,
                                  75% {
                                  opacity: 0;
                                  }
                                }
                            </style>
                              <div class="d-flex align-items-center justify-content-center">
                                <div>
                                  <i class="fa-solid fa-user-pen fa-lg me-2 <%= item.edit !== "edit" || item.commentime2 > item.commentime? "d-none" : "d-block" %>" style="color: #cb0b0b; animation: customAni 2s ease 0s infinite normal none;"></i>
                                </div>
                                <div>
                                  <%= moment(item.commentime).format('DD-MM-YYYY, h:mm a')%>
                                </div>
                              </div>
                            </td>
                        
                          <td class="text-center">
                            <strong dir="rtl"><%= item.prepcomment%></strong>
                          </td>
                          <td class="text-center">
                            <% if (item.prepcomment !=="" ) { %>
                              <%= moment(item.commentime2).format('DD-MM-YYYY, h:mm a')%>
                                <% } %>
                          </td>

                          <td class="text-center">
                            <a href="../OUTupload/<%= item.attachfile %>" target="_blank"><i class="bi bi-envelope <%= item.attachfile === ""? "d-none" : "d-block" %> "></i></a>
                          </td>

                          <!-- EDIT -->
                          <td class="text-center">

                            <!-- <a href="/edit/"> -->
                            <button type="button" style="background-color: rgb(0, 42, 255);"
                              class="border rounded-2 d-inline-flex p-1 " data-bs-toggle="modal"
                              data-bs-target="#exampleModal<%= item._id%>">
                              <svg style="fill: aliceblue;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path
                                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                              </svg>
                            </button>


                            <!-- MODAL -->
                            <div class="connectmodal modal fade" id="exampleModal<%= item._id%>" tabindex="-1"
                              aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog">
                                <div class="glass modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">EDITING</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                      aria-label="Close"></button>
                                  </div>
                                  <form action="/outedit/<%= item._id%>?_method=PUT" method="post">
                                    <div class="modal-body text-start">
                                      
                                      <div>
                                        <label for="prepcomment" class="form-label">Comment</label>
                                        <input dir="rtl" class="form-control" type="text" name="prepcomment">
                                      </div>

                                      <div class="my-3">
                                        <label for="request" class="form-label">Request Type</label>
                                        <select class="form-select" name="requestype" id="request">
                                          <option selected hidden disabled><%= item.requestype %></option>
                                          <option>Chemotherapy</option>
                                          <option>Zofran</option>
                                          <option>Hydration</option>
                                          <option>TPN</option>
                                          <option>Modification</option>
                                          <option>ExtraDose</option>
                                          <option style="color: blue;">DisCharge Medication</option>
                                          <option style="color: red;">Refill</option>
                                          <option style="color: red;">Product Assign</option>
                                        </select>
                                      </div>

                                      <input hidden name="commentime2" type="text" class="form-control" id="commentime2" value="" />
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                      <button type="submit" class="btn btn-primary">ADD</button>
                                  </form>
                                </div>
                              </div>
                            </div>



                            <!-- </a> -->
                          </td>


                          <!-- DONE -->
                          <td class="text-center">
                            <form action="/doneout/<%= item._id %>?_method=PUT" method="post">
                              <button type="submit" class="d-inline-flex p-1 text-center"
                                style="outline-style: unset; border: none; background-color: transparent;">
                                <label hidden for="prepcomment" class="form-label" style="display: none;">Prep
                                  Comment</label>
                                <input hidden type="text" class="form-control" value="DONE" id="prepcomment"
                                  style="display: none;" name="prepcomment" placeholder="">
                                  <input hidden name="commentime2" type="text" class="form-control" id="commentime2" value="" />

                                <svg style="fill: #298c43;" width="22" height="22" id="Layer_1" data-name="Layer 1"
                                  viewBox="0 0 25 27">
                                  <path class="cls-1"
                                    d="m19.13,11.97c-.14.17-.28.35-.41.52v8.39c0,.72-.58,1.3-1.3,1.3H4.46c-.72,0-1.3-.58-1.3-1.3V7.93c0-.72.58-1.3,1.3-1.3h12.22c.49-.58.94-1.12,1.42-1.65l.41-.46.23-.26c-.42-.15-.87-.23-1.33-.23H4.46c-2.16,0-3.91,1.75-3.91,3.91v12.95c0,2.16,1.75,3.91,3.91,3.91h12.95c2.16,0,3.91-1.75,3.91-3.91v-11.56c-.68.79-1.39,1.65-2.19,2.65Z" />
                                  <path class="cls-1"
                                    d="m24.26,2.86c-.38-.63-1.2-.84-1.83-.47-.36.21-.69.45-1.01.7-.16.12-.31.26-.46.39-.15.13-.3.27-.44.41-.3.28-.56.58-.83.87l-.41.44-.4.45c-.53.6-1.05,1.21-1.56,1.82l-.76.93-.74.94c-.97,1.26-1.92,2.54-2.83,3.84-.46.65-.9,1.31-1.35,1.96-.16.25-.32.49-.49.74-.35-.29-.66-.61-.94-.97-.57-.72-1.02-1.6-1.39-2.55v-.02c-.26-.63-.96-.97-1.62-.76-.69.22-1.07.95-.85,1.64.18.57.39,1.15.66,1.72.26.57.58,1.13.96,1.66.38.53.82,1.03,1.31,1.47.48.44,1.01.82,1.55,1.15.65.4,1.52.22,1.95-.42l.03-.04c.43-.64.88-1.27,1.33-1.9.45-.63.9-1.26,1.36-1.88.92-1.24,1.85-2.47,2.81-3.68.96-1.2,1.94-2.39,2.96-3.53l.38-.43.39-.42c.26-.28.52-.56.77-.84.25-.28.5-.58.73-.88.24-.3.47-.6.67-.94l.03-.05c.25-.41.27-.94,0-1.37Z" />
                                </svg>
                              </button>
                            </form>
                          </td>

                        </tr>

                      </tbody>
                      <% }) %>
                    </table>
                    <% } %>
            </div>

            <!-- PAGINATION -->
            <%- include('../partials/inpatientpagination.ejs') %>
          </div>
      </main>

      <!-- LINK TO jQuary -->
      <script src="/js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="/js/aos.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/glightbox.min.js"></script>
      <script src="/js/isotope.pkgd.min.js"></script>
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="/js/noframework.waypoints.js"></script>
      <script src="/js/validate.js"></script>

      <script src="../js/main.js"></script>

      <script src="/js/ivprep.js"></script>
</body>

</html>