<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Connect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon" />

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- FONTAWESOME -->
  <link href="../fontawesome/css/fontawesome.css" rel="stylesheet" />
  <link href="../fontawesome/css/brands.css" rel="stylesheet" />
  <link href="../fontawesome/css/solid.css" rel="stylesheet" />
  <!-- BOOTSTRAP ICON -->
  <link href="/css/bootstrap-icons.css" rel="stylesheet" />
  <!-- BOOTSTRAP CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- HEADER CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Custom styles for this template -->
  <link href="/css/dispense/dispense3.css" rel="stylesheet" />
</head>

<body>
  <!-- /*--------------------------------------------------------------
  # header
  --------------------------------------------------------------*/ -->
  <%- include("../partials/header.ejs") %>

    <!-- /*--------------------------------------------------------------
  # light icon
  --------------------------------------------------------------*/ -->
    <%- include("../partials/lighticon.ejs") %>

      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="home" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
      </svg>

      <main class="d-flex flex-nowrap">


        <!-- /*--------------------------------------------------------------
    # DEVIDER
    --------------------------------------------------------------*/ -->

        <div style="position: relative; height: 90vh" class="w-100">
          <!-- /*--------------------------------------------------------------
      # NAVBAR
      --------------------------------------------------------------*/ -->
          <div>
            <nav class="navbar navbar-expand-lg bg-body-tertiary mx-1 mt-1 mb-1">
              <div class="container-fluid py-2 rounded-2 bg-info">
                <div class="d-flex flex-row align-items-center">
                  <img src="/svg/dispense.svg" height="35vh" alt="" />
                </div>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <form class="d-flex" role="search" action="/dispensesearch" method="post">
                    <input name="searchText" class="form-control me-2" type="search" placeholder="Search"
                      aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">
                      Search
                    </button>
                  </form>
                </div>
              </div>
            </nav>
          </div>

          <!-- /*--------------------------------------------------------------
      # EDIT ICON
      --------------------------------------------------------------*/ -->
          <div class="d-flex align-items-center mx-2 mb-1 justify-content-between">
            <div class="btn d-inline-flex justify-content-between">
              <button type="button" class="btn btn-outline-primary active position-relative"><a href="/dispense3"
                  style="border: unset; color: unset;">
                  <!-- <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                0
                <span class="visually-hidden">unread messages</span>
              </span> -->
                  <span class="side-text">OverView</span>
                </a></button>
              <button type="button" class="btn btn-outline-primary mx-3 position-relative"><a href="/dispout"
                  style="border: unset; color: unset;">
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= outpatient.length %>
                      <span class="visually-hidden">unread messages</span>
                  </span>
                  <span class="side-text">OutPatient</span>
                </a></button>
              <button type="button" class="btn btn-outline-primary position-relative"><a href="/dispin"
                  style="border: unset; color: unset;">
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <%= inarray.length %>
                      <span class="visually-hidden">unread messages</span>
                  </span>
                  <span class="side-text">InPatient</span>
                </a></button>
            </div>

            <div id="icon_div" class="disappearicon d-flex align-items-center justify-content-between p-1" style="width: 11vw;  border-radius: 5px; background-color:rgb(218, 226, 225);">
              <i id="gear2" class="fa-solid fa-gear fa-2xl" style="color: #407de6;"></i>
              <a data-tooltip="Find By Date" data-flow="top" style="background-color: rgb(41, 39, 39);" href=""
                id="find" class="border rounded-2 d-inline-flex p-1" data-bs-toggle="modal"
                data-bs-target="#exampleModal1">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="fill: white;" class="bi bi-search"
                  viewBox="0 0 16 16">
                  <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                </svg>

              </a>

              <a data-tooltip="Add Patient" data-flow="top" style="background-color: rgb(0, 42, 255);" href=""
                id="editicon" class="border rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-placement="top"
                data-bs-title="Edit" data-bs-target="#exampleModal2">
                <svg style="fill: aliceblue" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                  fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path
                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                </svg>
              </a>

              <a data-tooltip="New" data-flow="top" style="background-color: rgb(203, 58, 58);" href="" id="addpatient"
                class="border rounded-2 d-inline-flex p-1" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                <svg style="fill: aliceblue" xmlns="http://www.w3.org/2000/svg" width="25" height="25"
                  class="bi bi-person-fill-add" viewBox="0 0 16 16">
                  <path
                    d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                  <path
                    d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4" />
                </svg>
              </a>
            </div>

          </div>

          <!-- SEARCH BY DATE -->
          <%- include('../partials/DateSearch-Modal-Dispense.ejs') %>




            <!-- ADD PATIENT -->
            <div class="connectmodal modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="glass modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Add Patient
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">


                    <div class="mb-3">
                      <label hidden for="patientname" class="col-form-label">Patient Name</label>
                      <input hidden name="patientname" type="text" class="form-control" id="patientname" />
                    </div>

                    <div class="mb-3">
                      <label for="mrn" class="col-form-label">MRN</label>
                      <input name="mrn" type="text" class="form-control" id="mrn" />
                    </div>

                    <div id="nopatient" class=" d-flex flex-row align-items-center my-2 d-none"
                      style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
                      <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
                      <p class="my-1 ms-1">This Patient Not Found</p>
                    </div>

                    <div class="mb-3">
                      <label for="requestype" class="form-label">Request Type</label>
                      <select class="form-select" name="requestype" id="requestype">
                        <option selected hidden disabled>Choose....</option>
                        <option>Methotrexate</option>
                        <option>ExtraDose</option>
                      </select>
                    </div>

                    <div class="mb-3">
                      <label for="oraliv" class="form-label">Oral/IV</label>
                      <select required class="form-select" id="oraliv" name="oraliv">
                        <option selected hidden disabled>Choose....</option>
                        <option>IV</option>
                        <option>Pyxis</option>
                      </select>
                    </div>

                    <div id="iv_oralnot" class=" d-flex flex-row align-items-center my-2 d-none"
                      style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
                      <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
                      <p class="my-1 ms-1">You Must Enter This Field</p>
                    </div>

                    <div class="mb-3">
                      <label for="roundcomment" class="col-form-label">Round Comment</label>
                      <textarea name="roundcomment" class="form-control" id="roundcomment"></textarea>
                    </div>

                    <div class="mb-3 d-none">
                      <label for="prepcomment" class="col-form-label"></label>
                      <input name="prepcomment" type="text" class="form-control" id="prepcomment" />
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <form id="add_patient_dispense">
                      <button type="submit" class="btn btn-primary">
                        Send message
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <!-- ADD NEW PATIENT MODAL -->
            <div class="connectmodal modal fade" id="exampleModal3" data-bs-backdrop="static" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="glass modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">
                      Add New Patient
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">


                    <div class="mb-3">
                      <label for="addpatientname" class="col-form-label">Patient Name</label>
                      <input name="addpatientname" type="text" class="form-control" id="addpatientname" />
                    </div>

                    <div id="nopatientname" class=" d-flex flex-row align-items-center my-2 d-none"
                      style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
                      <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
                      <p class="my-1 ms-1">You Must Enter This Field</p>
                    </div>

                    <div class="mb-3">
                      <label for="addpatientmrn" class="col-form-label">MRN</label>
                      <input name="addpatientmrn" type="text" class="form-control" id="addpatientmrn" />
                    </div>

                    <div id="patientexist" class=" d-flex flex-row align-items-center my-2 d-none"
                      style="border: 1px solid #dee2e6; border-left: 3px solid red; border-radius: 5px;">
                      <img class="ms-1" src="/svg/alertsign-02.svg" height="20vh" alt="">
                      <p class="my-1 ms-1">This Patient Is Already Exist</p>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                      Close
                    </button>
                    <form id="addnewpatient">
                      <button type="submit" class="btn btn-primary">
                        ADD
                      </button>
                    </form>


                  </div>
                </div>
              </div>
            </div>

            <!-- /*--------------------------------------------------------------
      # MAIN CONTENT
      --------------------------------------------------------------*/ -->

            <div id="maincontent" class="d-flex justify-content-center align-items-center">
              <% if (dispensearray.length===0) { %>
                <div class="alert alert-success new2 p-4 w-50 mt-5 ">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                  <span class="alert-body">
                    <h6 class="alert-header">ATTENTION</h6>
                    <p class="mb-0">No Data Avaliable</p>
                  </span>
                </div>
            </div>

            <% } %>
              <% if (dispensearray.length>= 1) { %>
                <table style="width: 99%" class="mx-auto table table-striped table-bordered">
                  <thead>
                    <tr>
                      <th class="text-center" scope="col">#</th>
                      <th class="text-center" scope="col">Patient Name</th>
                      <th class="text-center" scope="col">MRN</th>
                      <th class="text-center" scope="col">Patient Floor</th>
                      <th class="text-center" scope="col">Request Type</th>
                      <th class="text-center" scope="col">Oral/IV</th>
                      <th class="text-center" scope="col">Round Comment</th>
                      <th class="text-center" scope="col">Round Time</th>
                      <th class="text-center" scope="col">Comment</th>
                      <th class="text-center" scope="col">Prep Time</th>
                      <th class="text-center" scope="col">Delete</th>
                      <th class="text-center" scope="col">Attach</th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    <% dispensearray.forEach((item,index)=> { %>
                      <tr id="tr">
                        <td class="text-center">
                          <%= index+1 %>
                        </td>
                        <td class="text-center">
                          <%= item.patientname%>
                        </td>
                        <td class="text-center">
                          <%= item.mrn%>
                        </td>
                        <td class="text-center">
                          <%= item.ptfloor%>
                        </td>
                        <td class="text-center">
                          <%= item.requestype%>
                        </td>
                        <td class="text-center">
                          <%= item.oraliv%>
                        </td>
                        <td class="text-center">
                          <%= item.roundcomment%>
                        </td>
                        <td class="text-center">
                          <%= moment(item.createdAt).format('DD-MM-YYYY, h:mm a')%>
                        </td>
                        <td class="text-center">
                          <%= item.prepcomment%>
                        </td>
                        <td class="text-center">
                          <% if (item.prepcomment !=="" ) { %>
                            <%= moment(item.updatedAt).format('DD-MM-YYYY, h:mm a')%>
                              <% } %>
                        </td>
                        <td class="text-center">
                          <a style="background-color: red" class="border rounded-2 d-inline-flex p-1"
                            href="/viewdis/<%= item._id%>">
                            <svg style="fill: aliceblue" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                              class="bi bi-trash" viewBox="0 0 16 16">
                              <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                              <path
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                            </svg>
                          </a>
                        </td>
                        <td class="text-center">
                          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal<%= item._id %>"
                            style="background-color: rgb(229, 220, 220)" class="border rounded-2 d-inline-flex p-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                              class="bi bi-paperclip" viewBox="0 0 16 16">
                              <path
                                d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z">
                              </path>
                            </svg>
                          </a>
                          <div class="modal fade" id="exampleModal<%= item._id %>" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="exampleModalLabel<%= item._id %>">Attach File
                                  </h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <!-- <form action="/attach_file" method="post" enctype="multipart/form-data"> -->
                                <form action="/attach" method="post" enctype="multipart/form-data">
                                  <div class="modal-body">
                                    <label for="attach">Choose File...</label>
                                    <input id="attach" type="file" name="attach-file" id="" style="display: none;">
                                    <embed hidden id="imgsrc" src="" type="">
                                    <!-- <img id="imgsrc" src="/img/Avatar/Untitled-1-01.png" width="150px" alt=""> -->
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                      data-bs-dismiss="modal">Close</button>
                                    <button id="saveattach<%= item._id %>" type="submit" class="btn btn-primary">Save
                                      changes</button>

                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </td>
                        <!-- Modal -->

                      </tr>
                      <% }) %>
                  </tbody>
                </table>
                <% } %>
        </div>
        <!-- PAGINATION -->
        <%- include('../partials/inpatientpagination.ejs') %>
          </div>
      </main>

      <!-- LINK TO jQuary -->
      <script src="/js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="/js/aos.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/glightbox.min.js"></script>
      <script src="/js/isotope.pkgd.min.js"></script>
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="/js/noframework.waypoints.js"></script>
      <script src="/js/validate.js"></script>

      <script src="../js/main.js"></script>

      <script src="/js/dispense/dispense3.js"></script>
      <script>
        add_patient_dispense.addEventListener("submit", async (e) => {
          e.preventDefault();
          const res = await fetch("/add_patient_dis", {
            method: "POST",
            body: JSON.stringify({ patientname: patientname.value, mrn: mrn.value, requestype: requestype.value, oraliv: oraliv.value, roundcomment: roundcomment.value, prepcomment: prepcomment.value }),
            headers: { "Content-Type": "application/json" },
          });

          const data = await res.json();
          if (data.nopatient) {
            nopatient.classList.remove("d-none");
            mrn.classList.add("redframe");
          } else {
            nopatient.classList.add("d-none");
            mrn.classList.remove("redframe");
          }

          if (data.oraliv) {
            document.getElementById('iv_oralnot').classList.remove("d-none");
            document.getElementById('oraliv').classList.add("redframe");
          } else {
            document.getElementById('iv_oralnot').classList.add("d-none");
            document.getElementById('oraliv').classList.remove("redframe");
          }
          if (data.dispense_add_patient) {
            location.assign("/dispense3")
          }

        });
      </script>

      <script>
        addnewpatient.addEventListener("click", async (item) => {
          item.preventDefault()
          const res = await fetch("/addnewpatientdispense", {
            method: "POST",
            body: JSON.stringify({ addpatientmrn: addpatientmrn.value, addpatientname: addpatientname.value, createdAt: new Date() }),
            headers: { "Content-Type": "application/json" },
          })
          const data = await res.json()
          if (data.patientexist) {
            patientexist.classList.remove("d-none");
            addpatientmrn.classList.add("redframe");
          } else {
            patientexist.classList.add("d-none");
            addpatientmrn.classList.remove("redframe");
          }
          if (data.errors) {
            data.errors.forEach((item) => {
              if (item.path = "addpatientname") {
                nopatientname.classList.remove("d-none");
                addpatientname.classList.add("redframe");
              } else {
                nopatientnamenopatientname.classList.add("d-none");
                addpatientname.classList.remove("redframe");
              }
            })
          }
          if (data.done) {
            location.assign("/dispense3")
          }
        })
      </script>

      <script>
        // ICON
        const icondiv = document.querySelector("#icon_div");
        if (localStorage.getItem('iconbar') === 'NO') {
          icondiv.classList.remove('appearicon')
        } else {
          icondiv.classList.add('appearicon')
        }
        const gear2 = document.querySelector("#gear2");
        gear2.addEventListener("click", (eo) => {
          if (localStorage.getItem('iconbar') === 'NO') {
            localStorage.setItem('iconbar', 'YES')
            icondiv.classList.add("appearicon")
          } else if (localStorage.getItem('iconbar') === 'YES') {
            localStorage.setItem('iconbar', 'NO')
            icondiv.classList.remove("appearicon")
          }
        });
      </script>

</body>

</html>