<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
  <meta name="generator" content="Hugo 0.112.5" />
  <title>Connect</title>

  <!-- LINK FAVICON -->
  <link rel="shortcut icon" href="/svg/ConnectLogo.svg" type="image/x-icon" />

  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<!-- FONTAWESOME -->
<link href="../fontawesome/css/fontawesome.css" rel="stylesheet" />
<link href="../fontawesome/css/brands.css" rel="stylesheet" />
<link href="../fontawesome/css/solid.css" rel="stylesheet" />
  <!-- BOOTSTRAP ICON -->
  <link href="/css/bootstrap-icons.css" rel="stylesheet" />
  <!-- BOOTSTRAP CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <!-- HEADER CSS -->
  <link rel="stylesheet" href="/css/style.css" />
  <!-- Custom styles for this template -->
  <link href="/css/inpatient/inpatient/inpatient3.css" rel="stylesheet" />
</head>

<body>
  <!-- /*--------------------------------------------------------------
  # header
  --------------------------------------------------------------*/ -->
  <%- include("../partials/header.ejs") %>

    <!-- /*--------------------------------------------------------------
  # light icon
  --------------------------------------------------------------*/ -->
    <%- include("../partials/lighticon.ejs") %>

      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="home" viewBox="0 0 16 16">
          <path
            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z" />
        </symbol>
        <symbol id="table" viewBox="0 0 16 16">
          <path
            d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z" />
        </symbol>
        <symbol id="people-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          <path fill-rule="evenodd"
            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
        </symbol>
      </svg>

      <main class="d-flex flex-nowrap">

          <!-- /*--------------------------------------------------------------
    # DEVIDER
    --------------------------------------------------------------*/ -->

          <div style="position: relative; height: 90vh" class="w-100">
            <!-- /*--------------------------------------------------------------
      # NAVBAR
      --------------------------------------------------------------*/ -->
            <div>
              <nav class="navbar navbar-expand-lg bg-body-tertiary mx-1 mt-1 mb-5">
                <div class="container-fluid py-2 rounded-2 bg-info">
                  <div class="d-flex flex-row align-items-center">
                    <img src="/svg/inpatient.svg" height="35vh" alt="" />
                  </div>

                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <form class="d-flex" role="search" action="/inpatientsearch" method="post">
                      <input name="searchText" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                      <button class="btn btn-outline-success" type="submit">
                        Search
                      </button>
                    </form>
                  </div>
                </div>
              </nav>
            </div>

            <!-- /*--------------------------------------------------------------
      # MAIN CONTENT
      --------------------------------------------------------------*/ -->
            <div id="maincontent" class="d-flex flex-column justify-content-center align-items-center" >

              
                <div><p class="m-0"><i style="color: red; font-size: larger;">You Are In Search Mode</i></p></div>
                <% if (array.length === 0) { %>
                  <div class="alert alert-success new2 p-4 w-50 mt-5 ">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>
                    <span class="alert-body">
                      <h6 class="alert-header">ATTENTION</h6>
                      <p class="mb-0">No Data Avaliable</p>
                    </span>
                  </div>
                
                  <% } %>
            

                  <% if (array.length >= 1) { %>
                    <table style="width: 99%" class="mx-auto table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th class="text-center" scope="col">#</th>
                          <th class="text-center" scope="col">Patient Name</th>
                          <th class="text-center" scope="col">MRN</th>
                          <th class="text-center" scope="col">Patient Floor</th>
                          <th class="text-center" scope="col">Request Type</th>
                          <th class="text-center" scope="col">Oral/IV</th>
                          <th class="text-center" scope="col">Round Comment</th>
                          <th class="text-center" scope="col">Round Time</th>
                          <th class="text-center" scope="col">Comment</th>
                          <th class="text-center" scope="col">Prep Time</th>
                          <th class="text-center" scope="col">ُEdit</th>
                          <th class="text-center" scope="col">Delete</th>
                          <th class="text-center" scope="col">Attach</th>
                        </tr>
                      </thead>
                      <tbody id="tbody">
                        <% array.forEach((item,index)=> { %>
                          <tr id="tr">
                            <td class="text-center">
                              <%= index+1 %>
                            </td>
                            <td class="text-center">
                              <%= item.patientname%>
                            </td>
                            <td class="text-center">
                              <%= item.mrn%>
                            </td>
                            <td class="text-center">
                              <%= item.ptfloor%>
                            </td>
                            <td class="text-center">
                              <%= item.requestype%>
                            </td>
                            <td class="text-center">
                              <%= item.oraliv%>
                            </td>
                            <td class="text-center">
                              <strong dir="rtl"><%= item.roundcomment%></strong>
                            </td>
                            <td class="text-center">  
                              <%= moment(item.commentime).format('DD-MM-YYYY, h:mm a')%>
                            </td>
                            <style>
                              .bgred{
                                color: red;
                              }
                            </style>
                            <td class="text-center">
                              <strong dir="rtl" class="<%= item.prepcomment !== "DONE"? "bgred" : "" %>" ><i><%= item.prepcomment %></i></strong>
                            </td>
                            <td class="text-center">
                                <% if (item.prepcomment !=="" ) { %>
                                  <%= moment(item.commentime2).format('DD-MM-YYYY, h:mm a')%>
                                    <% } %>
                              </td>

                            <!-- edit -->
                            <td class="text-center">

                                <!-- <a href="/edit/"> -->
                                <button type="button" style="background-color: rgb(0, 42, 255);"
                                  class="border rounded-2 d-inline-flex p-1 " data-bs-toggle="modal"
                                  data-bs-target="#exampleModal<%= item._id%>">
                                  <svg style="fill: aliceblue;" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                    fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                      d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                  </svg>
                                </button>
  
  
                                <!-- MODAL -->
                                <div class="connectmodal modal fade" id="exampleModal<%= item._id%>" tabindex="-1"
                                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                                  <div class="glass modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">EDITING</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                          aria-label="Close"></button>
                                      </div>
                                      <form action="/edit/<%= item._id%>?_method=PUT" method="post">
                                        <div class="modal-body text-start">
                                          
                                          <div class="mb-3">
                                            <label for="ptf" class="form-label">Patient Floor</label>
                                            <select id="ptf" name="ptfloor" class="form-select">
                                              <option hidden selected><%= item.ptfloor %></option>
                                              <option>2nd</option>
                                              <option>3rd O</option>
                                              <option>3rd N</option>
                                              <option>4th</option>
                                              <option>5th</option>
                                              <option>6th</option>
                                              <option>MCU</option>
                                              <option>SCU</option>
                                              <option>ER</option>
                                              <option>ICC</option>
                                              <option>OR</option>
                                              <option>SICU</option>
                                              <option>DayCare</option>
                                              <option>Dispense</option>
                                              <option>OutPatient</option>
                                              <option>ICU</option>
                                            </select>
                                          </div>

                                          <div class="mb-3">
                                            <label for="request" class="form-label">Request Type</label>
                                            <select class="form-select" name="requestype" id="request">
                                              <option selected hidden><%= item.requestype %></option>
                                              <option>Chemotherapy</option>
                                              <option>Zofran</option>
                                              <option>Hydration</option>
                                              <option>TPN</option>
                                              <option>Modification</option>
                                              <option>ExtraDose</option>
                                              <option style="color: blue;">DisCharge Medication</option>
                                              <option style="color: red;">Refill</option>
                                              <option style="color: red;">Product Assign</option>
                                  
                                            </select>
                                          </div>

                                          <div class="mb-3">
                                            <label for="oriv" class="form-label">Oral/IV</label>
                                            <select required class="form-select" id="oriv" name="oraliv" >
                                              <option selected hidden><%= item.oraliv %></option>
                                              <option>Oral</option>
                                              <option>IV</option>
                                              <option>Pyxis</option>
                                            </select>
                                          </div>

                                          <div>
                                            <label for="rcomment" class="form-label">Comment</label>
                                            <input id="rcomment" dir="rtl" class="form-control" type="text" name="roundcomment" value="<%= item.roundcomment %>">
                                          </div>

                                          <input hidden name="commentime" type="text" class="form-control" id="commentime" value="" />

                                          <input hidden name="edit" type="text" class="form-control" id="edit" value="edit" />
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
  
                                          <button type="submit" class="btn btn-primary">ADD</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                            </td>

                            <!-- DELETE -->
                            <td class="text-center">
                              <button type="button" class="btn btn-primary border rounded-2 d-inline-flex p-1"
                                data-bs-toggle="modal" data-bs-target="#exampleModal3<%= item.id %>"
                                style="background-color: red">
                                <svg style="fill: aliceblue" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                  class="bi bi-trash" viewBox="0 0 16 16">
                                  <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                  <path
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                              </button>
                              <!-- Modal -->
                              <div class="connectmodal modal fade" id="exampleModal3<%= item.id %>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="glass modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Warning</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      Are you sure you want to delete ?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                      <form action="/delete/<%= item.id%>?_method=DELETE" method="post">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </td>

                            <!-- ATTACH -->
                            <td class="text-center">


                              <button type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal2<%= item._id%>"
                                style="background-color: rgb(229, 220, 220)"
                                class="border rounded-2 d-inline-flex p-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                  class="bi bi-paperclip" viewBox="0 0 16 16">
                                  <path
                                    d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z">
                                  </path>
                                </svg>
                              </button>


                              <div class="connectmodal modal fade" id="exampleModal2<%= item._id%>" tabindex="-1"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <form action="/attach/<%= item._id %>?_method=PUT " method="post"
                                  enctype="multipart/form-data" class="modal-dialog">
                                  <div class="glass modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">Attach File</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                    </div>

                                    <div class="modal-body">
                                      <label for="attach<%= item._id%>">Choose File...</label>
                                      <input hidden id="attach<%= item._id%>" type="file" name="attachfile">
                                      <!-- <embed hidden id="imgsrc" src="" type=""> -->
                                      <!-- <img id="imgsrc" src="/img/Avatar/Untitled-1-01.png" width="150px" alt=""> -->
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                      <button type="submit" class="btn btn-primary">Save
                                        changes</button>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </td>

                          
                          </tr>
                          <% }) %>
                      </tbody>
                    </table>
                    <% } %>


                      <!-- Modal -->

            </div>
          </div>
      </main>

      <!-- LINK TO jQuary -->
      <script src="/js/jquery-3.7.1.min.js"></script>

      <!-- LINK TO BOOTSTRAP.JS -->
      <script src="/js/aos.js"></script>
      <script src="/js/bootstrap.bundle.min.js"></script>
      <script src="/js/glightbox.min.js"></script>
      <script src="/js/isotope.pkgd.min.js"></script>
      <script src="/js/swiper-bundle.min.js"></script>
      <script src="/js/noframework.waypoints.js"></script>
      <script src="/js/validate.js"></script>

      <script src="../js/main.js"></script>

      <script src="/js/inpatient3.js"></script>
</body>

</html>
